<div class="col-md-12" style="padding:0px">
    <style>
        .selectedYes {
            width: 17px;
            font-size: 14px;
            margin-right: 6px;
            color: #39b54a !important;
            cursor: pointer;
        }

        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
            color: #000;
            font-weight: 500;
            font-family: "-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
            line-height: 1.2;
        }

        .selectedNoButton {
            width: 17px;
            font-size: 14px;
            margin-right: 6px;
            color: #C1272D !important;
            cursor: pointer;
        }

        .selectedNo {
            width: 17px;
            font-size: 14px;
            margin-right: 6px;
            color: #19211b;
            cursor: pointer;
        }

        .transpantcolorbtn {
            border: 1px solid black;
            border-radius: 15px;
            color: black;
            font-size: 18px;
        }

        .detailsLableValue {
            width: 100%;
        }

        .SelectedRuleButton {
            background-color: #D4145A !important;
            color: #fff !important;
        }

        .SelectedNewConButton {
            background-color: #F15A24 !important;
            color: #fff !important;
        }

        .btn-danger {
            background-color: #F15A24 !important;
        }

        .rulebtncontrol {
            border: 1px solid #F15A24 !important;
        }

        .ruleValueMissing {
            border: 1px solid red !important;
        }

        .ruleValueValid {
            border: 1px solid #d5d5d5 !important;
        }
    </style>


    <div class="row" style="margin-top: 16px;">
        <div class="col-md-12 bussinessrightpanel">
            <div class="col-md-12">


                <div class="col-md-12">
                    <h4>Company Type</h4>
                    <div class="col-md-12 detailsLableValue" style="padding: 0px;">
                        <div class="col-md-11" style="padding: 0px;">

                            <select class="form-control" style="margin:0px !important" ng-model="EntityRelationship.CompanyTypeId" ng-change="LoadAllParentCompany(EntityRelationship.CompanyTypeId)" ng-options="obj.LookUpId as obj.Name for obj in CompanyTypeList | orderBy:'Name'">
                                <option value="">Select Company Type</option>
                            </select>


                        </div>
                        <div class="col-md-1" style="color:#C1272D">*</div>
                    </div>
                    <hr>
                </div>

                <div class="col-md-12">

                    <h4>Select Company</h4>
                    <multiselect placeholder="Select users..."
                                 ms-model="multiselect.selected"
                                 ms-config="multiselect.config"
                                 ms-options="multiselect.options">
                    </multiselect>
                    <hr>


                </div>
                <div class="col-md-12">

                    <dualmultiselect options="companyList"> </dualmultiselect>
                    <hr>
                </div>
                <div class="col-md-12">
                    <h4>Rule</h4>
                    <div class="col-md-12" style="margin: 8px;font-weight: bold;" ng-repeat="Rule in RuleDataForEntityRelationship">
                        {{Rule.rownumber}} ) {{Rule.RuleText}}
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-4" ng-if="false">
            <div class="bussinessrulerightpaneldetails" style="margin-top:0px;">
                <div class="col-md-12 ruletypeheading">
                    <div class="col-md-6" style="margin-top: 10px;">
                        <h2>{{resData.res_AddEditBusinessRuleEngine_Details}}</h2>
                    </div>
                    <div class="col-md-6" style="display: flex; justify-content: flex-end">
                        <div class="footerbuttons" style="margin: 0px;margin-right: 12px;">
                            <a class="buttonstext transpantcolorbtn" style="width: 55px;text-align: center;" ng-click="BackView();">
                                <i class="fa fa-arrow-circle-left"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">


                    <div class="col-md-12 removepadding" style="margin-top: 10px;padding-bottom: 0px;" ng-if="false">
                        <!--<div class="bussinessdetailsLable">
                            From Date:
                        </div>-->
                        <div class="detailsLableValue greentextcolor">
                            <div class="ConditionsBox" style="margin-right: 20px;width: 100% !important;">
                                <div class="ConditionControlsBox">
                                    <div class="selectobject" style="width: 100%;">
                                        <div class="prepend-icon">
                                            <input type="text" id="FromDate" style="width:100%" ng-model='EntityRelationship.FromDate' name="datepicker" class="form-control" placeholder="Select a from date...">
                                            <i class="icon-calendar" style="float: right;right: 0;left: auto;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="detailsLableValue greentextcolor" style="margin-top:10px;">
                            <div class="ConditionsBox" style="width: 100% !important;">
                                <div class="ConditionControlsBox">
                                    <div class="selectobject" style="width: 100%;">
                                        <div class="prepend-icon">
                                            <input type="text" id="ToEndDate" style="width:100%" ng-model='EntityRelationship.ToEndDate' name="datepicker" class="form-control" placeholder="Select a end date...">
                                            <i class="icon-calendar" style="float: right;right: 0;left: auto;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-12 removepadding" ng-if="false">
                        <div class="bussinessdetailsLable">{{resData.res_AddEditBusinessRuleEngine_EnableDisable}}</div>
                        <div class="detailsLableValue greentextcolor">

                            <div class="col-md-12" style="padding:0px">
                                <div class="col-md-6" style="display: flex; justify-content: flex-start">
                                    <a style="width: 26%;font-size: 18px;display: flex; justify-content: flex-start" ng-class="{'selectedYes': EntityRelationship.Enable}" ng-click="SetEnable(true);" class="selectedNo"><i class="fa fa-check-circle" style="font-size: 22px;margin-right: 10px;" aria-hidden="true"></i><span style="font-size: 14px;">{{resData.res_AddEditBusinessRuleEngine_YES}}</span></a>
                                </div>
                                <div class="col-md-6" style="display: flex; justify-content: flex-end">
                                    <a style="width: 24%;font-size: 18px;display: flex; justify-content: flex-end" ng-class="{'selectedNoButton': !EntityRelationship.Enable}" ng-click="SetEnable(false);" class="selectedNo"><i class="fa fa-times-circle" style="font-size: 22px;margin-right: 10px;" aria-hidden="true"></i><span style="font-size: 14px;">{{resData.res_AddEditBusinessRuleEngine_No}}</span></a>
                                </div>
                            </div>




                        </div>
                    </div>
                    <div ng-show="false" class="col-md-12 removepadding" style="margin-top: 15px;border-bottom:none !important">
                        <div class="bussinessdetailsLable">{{resData.res_AddEditBusinessRuleEngine_ResponsePropertyName}}</div>
                        <div class="detailsLableValue greentextcolorbold">
                            {{DynamicGeneratedThenString()}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12 ActionButtons" ng-if="IsControlVisible" style="border-top: 1px solid #d5d5d5;padding-top: 14px;">
        <div class="col-md-6" style="display: flex; justify-content: flex-start;padding-left:15px;">
            <div class="footerbuttons" style="margin: 0px;margin-right: 12px;">
                <a class="buttonstext transpantcolorbtn" style="width: 55px;text-align: center;" ng-click="ResetEntityRelationshipControl();">
                    <i class="fa fa-repeat"></i>
                </a>
            </div>
            <div class="footerbuttons" style="margin: 0px;margin-right: 12px;">
                <a class="buttonstext transpantcolorbtn" style="width: 134px;text-align: center;" ng-click="OpenEntityRuleRuleModalPopup();">
                    Add/Edit Rule
                </a>
            </div>
        </div>
        <div class="col-md-6" style="display: flex; justify-content: flex-end">
            <div class="footerbuttons" style="margin: 0px;margin-right: 12px;">
                <a class="buttonstext transpantcolorbtn" style="text-align: center;" ng-click="BackView();">{{resData.res_AddEditBusinessRuleEngine_Cancel}}</a>
            </div>

            <div class="footerbuttons" style="margin: 0px;">
                <a class="buttonstext bggreencolorbtn" ng-click="SaveEntityRelationship();">{{resData.res_AddEditBusinessRuleEngine_Save}}</a>
            </div>
        </div>
    </div>
</div>
