<ion-view>
	<ion-content class="main-content">
		<div class="pageview" style="padding: 20px 30px 0;overflow-y:hidden">
			<div class="row">
				<div class="col-md-12 pagecontainerdiv" style="margin-top:0px">
					<div class="gridheaderactionbuttons">

						<div style="float:left;margin-bottom: 24px;">
							<div class="footerbuttons footerbtnrightborder" style="margin:0px">
								<a class="buttonstext drop-shadow greencolorbtntext toprefreshbuttons" ng-click="RefreshDataGrid()">
									<i class="fa fa-refresh"></i>
								</a>
							</div>
							<div class="footerbuttons">
								<a class="buttonstext drop-shadow greencolorbtntext" ng-click="ExportToExcelSalesAdminApprovalData()">
									<i class="fa fa-file-excel-o fa-icon"></i> {{resData.res_OMInquiryPage_ExportToExcel}}
								</a>
							</div>
						</div>
						<div style="float:right;margin-bottom: 24px;">


							<div class="footerbuttons">
								<a class="buttonstext drop-shadow greencolorbtntext" ng-click="OpenSelectBankAccountPopupPopup()">
									<i class="fa fa-thumbs-up fa-icon" aria-hidden="true"></i> {{resData.res_PaymentRequestConfirmationPage_ProcessButton}}
								</a>
							</div>

							<div class="footerbuttons">
								<a class="buttonstext drop-shadow redcolorbtntext" ng-click="RejectSelectedPaymentRequest()">
									<i class="fa fa-thumbs-down fa-icon" aria-hidden="true"></i> {{resData.res_OMInquiryPage_Reject}}
								</a>
							</div>
						</div>

					</div>
					<div id="portalview" class="PortalView" ng-controller="PaymentRequestController">
						<div class="panel drop-shadow" style="background: #f5f5f5;float: left;width: 100%;">
							<div class="panel-content" style="padding:0px">
								<div class="dx-viewport">
									<div class="demo-container">
										<div id="SalesAdminApprovalGrid" class="SalesAdminApproval_Grid SalesAdminApprovalConfigurationGrid"  style="height: 75vh;" dx-data-grid="SalesAdminApprovalGrid" dx-item-alias="SalesAdminApprovalData">

											<div data-options="dxTemplate:{ name:'CheckBoxTemplate' }">
												<input type="checkbox" />
											</div>

											<div data-options="dxTemplate:{ name:'CheckBoxHeaderTemplate' }">
												<input type="checkbox" />
											</div>

											<div data-options="dxTemplate:{ name:'ApproveTemplate' }">
												<a class="greenbgfont approvebtn" ng-click="ApproveEnquiryByEnquiryId(SalesAdminApprovalData.value)"> Process </a>
											</div>



											<div data-options="dxTemplate:{ name:'StatusTemplate' }">
												<a  ng-style="{'color' : SalesAdminApprovalData.data.Class}">{{SalesAdminApprovalData.data.StatusDescription}}</a>
											</div>

											<div data-options="dxTemplate:{ name:'TripCostTemplate' }">
												<span style="float:left;width:100px">{{resData.res_CurrencyCode}} {{SalesAdminApprovalData.data.TripCost | currency: CurrencyFormatCode }}</span>

											</div>

											<div data-options="dxTemplate:{ name:'TripRevenueTemplate' }">
												<span style="float:left;width:100px">{{resData.res_CurrencyCode}} {{SalesAdminApprovalData.data.TripRevenue | currency: CurrencyFormatCode}}</span>

											</div>


											<div data-options="dxTemplate:{ name:'AmountTemplate' }">
												<span style="float:left;width:100px">{{resData.res_CurrencyCode}} {{SalesAdminApprovalData.data.Amount | currency: CurrencyFormatCode}}</span>

											</div>
											<div id="EnquiryProductInfoId" class="EnquiryProductInfoClass" data-options="dxTemplate: {name: 'EnquiryProductInfo'}" style="float: left;padding-bottom:0px !important;">
												<div class="EnquiryDetailsAccordion" ng-if="PaymentRequestInfoSection">
													<div ng-include="'PaymentRequestView.html'"></div>
												</div>
											</div>


										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div ng-include="'ReasonCodePopupView.html'" ng-controller="ReasonCodeViewController"></div>

				</div>
			</div>
		</div>
		<script id="templates/SelectBankAccount.html" type="text/ng-template">
			<ion-modal-view class="confirmationmsgmodalview bgcolorheaderandfooter" style="min-height:490px !important;width:800px !important">
				<ion-header-bar class="bar bar-header bar-positive">
					<h1 class="title">{{resData.res_PaymentRequestConfirmation_SelectBankAccountHeader}} .</h1>
					<button class="button button-clear button-primary" ng-click="CloseSelectBankAccountPopupPopup()">
						<i class="icons-office-52"></i>
					</button>
				</ion-header-bar>
				<ion-content scroll="hidden" class="padding IonicPopupHeight">
					<div class="list">

						<div class="customlistcontrolview">
							<div class="col-lg-12" style="margin-bottom: 0px;padding: 0px;">
								<div class="columnfulldata  margintopdata" style="width:88% !important">
									<div class="labelname reasonlable">

										{{resData.res_PaymentRequestConfirmation_Amount}} :
									</div>
										<div class="labelcontrol">										

											<input type="text" ng-model="SelectedBankAccount.Amount" class="form-control" />
										</div>
									
								</div>
								<div class="columnfulldata  margintopdata" style="width:88% !important" ng-hide="IsControlEnabled">
									<div class="labelname reasonlable">

										{{resData.res_PaymentRequestConfirmation_SelectPayeeAccount}} :
									</div>
									<div class="labelcontrol">
										<select class="form-control" 
												ng-model="SelectedBankAccount.TransporterAccountDetailId" ng-options="obj.AccountName as obj.AccountName for obj in bindAllBankAccountList | unique:'AccountName'" ng-change="OpenSelectPayeeNamePopupPopup(SelectedBankAccount.TransporterAccountDetailId)">
											<option value="">Select</option>
										</select>
									</div>
								</div>
								<div>
									<div style="width: 9% !important; float: right; margin-top: 10px !important; margin-left: 1px;">
										<a ng-if="ActionType==='Clear'" ng-click="AddBankDetails()">
											<span>
												Add
											</span>											
										</a>
									</div>
									
								</div>
								<div class="columnfulldata  margintopdata" style="width:88% !important" >
									<div class="labelname reasonlable">

										{{resData.res_PaymentRequestConfirmation_SelectBankAccount}} :
									</div>
									<div class="labelcontrol">
										<select class="form-control" ng-if="ActionType==='Clear'"
												ng-model="SelectedBankAccount.TransporterAccountDetailBankAccountId" ng-options="obj.TransporterAccountDetailId as obj.AccountDisplay for obj in bindAllBankAccountDetailList" ng-change="OnChangeBankAccountDropDown(SelectedBankAccount.TransporterAccountDetailBankAccountId)">
											<option value="">Select</option>
										</select>

										<input ng-if="ActionType==='Add'" type="text" ng-model="SelectedBankAccount.AccountName" class="form-control" />
									</div>
								</div>
								<div style="width: 9% !important; float: right; margin-top: 10px !important; margin-left: 1px;">
									<a ng-if="ActionType==='Add'" ng-click="ClearBankDetailsAddButton()">
										<span>
											Clear
										</span>
									</a>
								</div>
								<div class="columnfulldata  margintopdata" style="width:88% !important">
									<div class="labelname reasonlable">

										{{resData.res_PaymentRequestConfirmation_BankName}} :
									</div>
									<div class="labelcontrol">
										<label ng-if="ActionType==='Clear'">{{SelectedBankAccount.BankName}}</label>
										<input ng-if="ActionType==='Add'" type="text" ng-model="SelectedBankAccount.BankName" class="form-control" />
									</div>
								</div>
								<div class="columnfulldata  margintopdata" style="width:88% !important">
									<div class="labelname reasonlable">

										{{resData.res_PaymentRequestConfirmation_BankAccount}} :
									</div>
									<div class="labelcontrol">
										<label ng-if="ActionType==='Clear'">{{SelectedBankAccount.AccountNumber}}</label>
										<input ng-if="ActionType==='Add'" type="text" ng-model="SelectedBankAccount.AccountNumber" class="form-control" />
									</div>
								</div>
								<div class="columnfulldata  margintopdata" style="width:88% !important">
									<div class="labelname reasonlable">

										{{resData.res_PaymentRequestConfirmation_AccountType}} :
									</div>
									<div class="labelcontrol">

										<label ng-if="ActionType==='Clear'">{{SelectedBankAccount.AccountType}}</label>
										
										<div class="GridColumnWithBorder_AddCompanyForAccountSection" ng-if="ActionType==='Add'" style="padding: 0px 0px;">
											<select id="AccountTypeId" ng-model="SelectedBankAccount.AccountType" style="width:377px !important" class="form-control" name="val_SelectObject" ng-options="obj.LookUpId as obj.Name for obj in AccountTypeList| orderBy:'Name' ">
												<option value="">Select</option>
											</select>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</ion-content>

				<ion-footer-bar align-title="left" class="popupfooter">

					<div class="popupbtnstyle">

						<div class="popupbuttonstyle">
							<a class="btn btn-success btn-square" ng-click="SaveSelectBankAccountPopupPopup()">
								<i class="fa fa-check"></i> Save
							</a>
						</div>
						<div class="popupbuttonstyle">
							<a class="btn btn-success btn-square redclosebtn" ng-click="CloseSelectBankAccountPopupPopup()">
								<i class="fa fa-times"></i> Close
							</a>
						</div>
					</div>

				</ion-footer-bar>
			</ion-modal-view>
		</script>
		<script id="templates/AddNotesForObject.html" type="text/ng-template">
			<ion-modal-view class="confirmationmsgmodalview bgcolorheaderandfooter" style="min-height:280px !important">
				<ion-header-bar class="bar bar-header bar-positive">
					<h1 class="title">{{resData.res_ViewInquiryForCustomer_Note}}</h1>
					<button class="button button-clear button-primary" ng-click="CloseAddNotesModalPopup()"><i class="fa fa-times"></i></button>
				</ion-header-bar>
				<ion-content scroll="hidden" class="padding IonicPopupHeight">
					<div class="list">
						<div class="customlistcontrolview">

							<div class="col-lg-12" style="margin-bottom: 0px;padding: 0px;">
								<div class="columnfulldata  margintopdata">

									<div class="labelname" style="width:70px">
										{{resData.res_ViewInquiryForCustomer_Note}} :
									</div>
									<div class="labelcontrol viewNote" style="width: 85%;text-align:justify">
										{{NoteVariable.NoteText}}
									</div>


								</div>
							</div>
						</div>

					</div>
				</ion-content>

				<ion-footer-bar align-title="left" class="popupfooter">

					<div class="popupbtnstyle">

						<div class="popupbuttonstyle">
							<a class="btn btn-success btn-square redclosebtn" ng-click="CloseAddNotesModalPopup()">
								<i class="fa fa-times"></i>  Close
							</a>
						</div>
					</div>

				</ion-footer-bar>
			</ion-modal-view>
		</script>
		<script id="templates/ConfirmationMessageModalPopup.html" type="text/ng-template">
			<ion-modal-view class="confirmationmsgmodalview bgcolorheaderandfooter" style="min-height:200px !important">
				<ion-header-bar class="bar bar-header bar-positive">
					<h1 class="title">{{resData.res_SalesAdminApproval_RemoveProductHeading}}</h1>
					<button class="button button-clear button-primary" ng-click="CloseConfirmationMessageModalPopup()"><i class="fa fa-times"></i></button>
				</ion-header-bar>
				<ion-content scroll="hidden" class="padding IonicPopupHeight">
					<div class="list">
						<div class="customlistcontrolview">
							{{resData.res_SalesAdminApproval_RemoveProductMessage}}
						</div>

					</div>
				</ion-content>

				<ion-footer-bar align-title="left" class="popupfooter">
					<div class="popupbtnstyle">

						<div class="popupbuttonstyle">
							<a class="btn btn-success btn-square" ng-click="RemoveEnquiryProduct()">
								<i class="fa fa-check"></i> {{resData.res_SalesAdminApproval_Ok}}
							</a>
						</div>
						<div class="popupbuttonstyle">
							<a class="btn btn-success btn-square redclosebtn" ng-click="CloseConfirmationMessageModalPopup()">
								<i class="fa fa-times"></i> {{resData.res_SalesAdminApproval_Close}}
							</a>
						</div>
					</div>
				</ion-footer-bar>
			</ion-modal-view>
		</script>
		<script id="AddTruck.html" type="text/ng-template">
			<ion-modal-view hide-back-button="false" class="confirmationmsgmodalview bgcolorheaderandfooter" style="min-height:200px !important">

				<ion-header-bar class="bar bar-header bar-positive popupheadercolor" style="display: block;">
					<h1 class="title">{{AddTruckHeaderMessage}}</h1>
					<button class="button button-clear button-primary" ng-click="CloseAddTruckControl()"><i class="fa fa-times"></i></button>
				</ion-header-bar>
				<ion-content scroll="false" class="popioncontainer">
					<div class="messagebody" style="margin-left: 15px;font-weight: 500;">
						{{AddTruckBodymessage}}
					</div>
				</ion-content>
				<ion-footer-bar class="popupfooter">

					<div class="popupbtnstyle">

						<div class="popupbuttonstyle">

							<a class="btn btn-success btn-square" ng-click="CloseAddFinalize()">
								<i class="fa fa-check"></i>  {{resData.res_SalesAdminApproval_Ok}}
							</a>
						</div>

					</div>
				</ion-footer-bar>


			</ion-modal-view>

		</script>
	</ion-content>
</ion-view>