<ion-view id="SOListControllerHtml" class="solistviewpage" view-title="Sales Orders">
    <!-- Add Resources on Page Added by Vinod Yadav 20192019 -->
    <ion-content has-bouncing="false">

        <div class="pageview" style="overflow:hidden">

            <div class="row">
                <div class="col-md-12" style="margin-top: 15px;">

                    <link href="Styles/OnlineShopUI.css" rel="stylesheet">

                    <style type="text/css">
                        ion-nav-bar {
                            display: none
                        }

                        /*.has-header {
                            top: 0px;
                        }*/

                        .CreateInquiryMainSection {
                            height: 100vh;
                            position: relative
                        }
                    </style>
                    <div id="ProductSummaryView" style="width: 30%; margin: auto;margin-top: 18px;" class="ProductCatalogue ngIncludeItem ShowProductInfo">
                        <div class="ProductCatalogueInnerView">
                            <div class="ProductCatalogueHeader">
                                <div class="HeaderBackButton" ng-click="BackScreenView()">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                                <div class="HeaderTitle">
                                    <div class="HeaderTitleName">{{resData.res_LoadOrderInTruck_ConfirmLoadTruck}}</div>
                                    <div class="HeaderTitleRemark">
                                        {{resData.res_TruckDetails_for}} {{PlateNumber}})
                                    </div>

                                </div>
                                <div class="HeaderShoppingCart">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="ProductInfoView">
                                <div class="ProductPriceView">
                                    <div class="Enquiryproductpriceanddetails">

                                        <div class="ProductCountAndPrice">
                                            {{resData.res_TruckDetails_Driver}}  {{DriverName}}
                                        </div>
                                        <div class="ProductCountAndPrice">
                                            {{resData.res_TruckDetails_LicenseNumber}} {{LicenseNumber}}
                                        </div>
                                        <div class="ProductCountAndPrice">
                                            {{resData.res_TruckDetails_Carrier}} {{CarrierName}}
                                        </div>

                                        <div class="full_width_view enquiryinfodetails" style="margin-top: 20px;">
                                            <div class="full_width_view enquirysummarydetails">
                                                <i class="fa fa-file filedocumentorder"></i>
                                            </div>
                                            <div class="full_width_view enquirysummarydetails" style="color: #fff;margin-top: 4px;font-size: 20px;">{{resData.res_LoadOrderInTruck_OrderList}}</div>
                                            <div class="full_width_view enquirysummarydetails" style="margin-top: 3px;">{{resData.res_LoadOrderInTruck_Selecttheordersallottedtothetruck}}</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--Changed By Chetan Tambe (25 Sept 2019) : For setting the height of page-->
                        <div set-heightcustomorderlistcontainer="" class="CreateInquiryMainSection" style="overflow-y: auto;">

                            <div class="ProductInformationSection">
                                <div class="ItemSearchControl">
                                    <input ng-model="SoListSearchValue.search" placeholder="Search" style="border: 2px solid #d5d5d5 !important;">

                                    <span class="productsearchicon" ng-click="ClearSearchList();">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                                </div>

                                <div class="productinfosectionview" style="padding: 10px;padding-top:0px;margin-top: 4px;">
                                    <!--<div class="ProductHeading" style="text-align: right;font-weight: 300 !important;">
                                        <i class="fa fa-refresh"></i>
                                    </div>-->
                                    <div style="float:left;width:100%;">
                                        <div style="float:left;width:60%">
                                            <h5 style="padding: 3px;margin : 3px; margin-bottom:20px;margin-top:14px; font-weight: 600;">{{resData.res_PlanforThistruck_View}}</h5>
                                        </div>
                                        <div style="float:right!important;width:40%;text-align:right" ng-if="IsShowAllbutton===true">
                                            <h5 ng-click="OrderSelected('-1',Selectctionvalue)" style="padding: 3px;margin : 3px; margin-bottom:20px;margin-top:14px; font-weight: 600; margin-right:12px;">{{lblValue}}</h5>
                                        </div>

                                    </div>


                                    <div class="ProductListControl" style="border-radius: 32px;padding:0px" ng-click="OrderSelected(bindCust.OrderNumber,lblValue)" ng-class="{'completedso': bindCust.IsSelected==true}" ng-repeat="bindCust in BinAsnInfos | filter : { OrderNumber: SoListSearchValue.search }  | orderBy : 'SortingIndex'" ng-if="bindCust.IsSelectedPlateNumber===true">

                                        <div class="SelectedProductImageSection">
                                            <div class="odrerselectedcircle" style="margin-top: 10px !important;margin: auto;" ng-if="bindCust.IsSelected !== true">
                                                &nbsp;
                                            </div>
                                            <div class="greeorderselectedcircle" style="margin-top: 10px !important;" ng-if="bindCust.IsSelected === true">
                                                <div class="greewhiteorderselectedcircle">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ProductDetails SelectedProductDetails" style="padding: 8px;padding-top: 10px;margin-left: 18px;">
                                            <div class="ProductName" style="font-size: 18px;" ng-class="{'selectedordertext':bindCust.IsSelected === true}">
                                                {{bindCust.OrderNumber}}
                                            </div>
                                            <div class="SelectedProductPrice" style="margin-top: 5px;">
                                                <span class="productselectedquantity">Ship To: {{bindCust.LocationName}}</span>
                                                <span class="productselectedquantity">Planned Collection Date: {{bindCust.PickDateTimeFromOM | date:'dd/MM/yyyy'}}</span>
                                            </div>
                                        </div>

                                    </div>

                                    <div ng-if="IsAllowOtherOrder===true">

                                        <h5 style=" float:left; padding: 3px;margin : 3px; margin-bottom:20px;margin-top:22px!important; font-weight: 600;">{{resData.res_PlanforOthertruck_View}}</h5>

                                        <div class="ProductListControl" style="border-radius: 32px;padding:0px" ng-click="OrderSelected(bindCust.OrderNumber,lblValue)" ng-class="{'completedso': bindCust.IsSelected==true}" ng-repeat="bindCust in BinAsnInfos | filter : { OrderNumber: SoListSearchValue.search }  | orderBy : 'SortingIndex'" ng-if="bindCust.IsSelectedPlateNumber!==true && IsAllowOtherOrder===true">

                                            <div class="SelectedProductImageSection">
                                                <div class="odrerselectedcircle" style="margin-top: 10px !important;margin: auto;" ng-if="bindCust.IsSelected !== true">
                                                    &nbsp;
                                                </div>
                                                <div class="greeorderselectedcircle" style="margin-top: 10px !important;" ng-if="bindCust.IsSelected === true">
                                                    <div class="greewhiteorderselectedcircle">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ProductDetails SelectedProductDetails" style="padding: 8px;padding-top: 10px;margin-left: 18px;">
                                                <div class="ProductName" style="font-size: 18px;" ng-class="{'selectedordertext':bindCust.IsSelected === true}">
                                                    {{bindCust.OrderNumber}}
                                                </div>
                                                <div class="SelectedProductPrice" style="margin-top: 5px;">
                                                    <span class="productselectedquantity">Ship To: {{bindCust.LocationName}}</span>
                                                    <span class="productselectedquantity">Planned Collection Date: {{bindCust.PickDateTimeFromOM | date:'dd/MM/yyyy'}}</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div style="float:left;width:100%" ng-click="SaveLoadedOrder();">
                                    <div class="ProductRecommendations" style="width: 30%;bottom: 5px;">
                                        <span class="product_angel_fa product_angle_view"><i class="fa fa-check"></i></span>
                                        <span class="product_recommendation">{{resData.res_LoadOrderInTruck_Confirmation}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script id="AlertMessagesPopUp.html" type="text/ng-template">
                        <ion-modal-view hide-back-button="false" class="confirmationmsgmodalview bgcolorheaderandfooter">

                            <ion-header-bar class="bar bar-header bar-positive popupheadercolor" style="display: block;">
                                <h1 class="title">Alert !</h1>
                                <button class="button button-clear button-primary" ng-click="CloseAlertMessagesPopUp()"><i class="fa fa-times" style="color:#000 !important;"></i></button>
                            </ion-header-bar>
                            <ion-content scroll="false" class="popioncontainer">
                                <div class="messagebody" style=" margin-left: 15px;font-weight: 500;">
                                    {{ErrorMessage}}
                                </div>
                            </ion-content>
                            <ion-footer-bar class="popupfooter">

                                <div class="popupbtnstyle">
                                    <div class="popupbuttonstyle">

										<a class="btn btn-success btn-square"   ng-click= "SkipAlertMessagesPopUp()">
											Skip
										</a>
                                        <a class="btn btn-success btn-square" ng-click="CloseAlertMessagesPopUp()">
                                            {{resData.res_Orders_Cancel}}
                                        </a>

										
										
                                    </div>


                                </div>
                            </ion-footer-bar>
                        </ion-modal-view>
                    </script>

                </div>
            </div>
        </div>



    </ion-content>

</ion-view>



