<style type="text/css">
	.GridColumnWithBorder_AddCompany {
		float: left;
		width: 25%;
		padding: 0px 20px;
		border-right: 2px dashed #d5d5d5;
		height: 36px;
		padding-top: 5px;
	}
</style>

<ion-view>
	<ion-content class="main-content">
		<div class="pageview">
			<!--<div class="header">
				<h2>{{Action}} <strong> {{resData.res_TruckSizeHeader_View}}</strong></h2>
			</div>-->

			<div class="row">
				<div class="col-md-12">
					<div class="nav-tabs2">
						<ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}">
							<li class="active" ng-class="{'active': ViewTab}">
								<a ng-click="ViewForm()" class="">
									<tab-heading>
										<i class="fa fa-eye"></i>{{resData.res_SettingMaster_View}}
									</tab-heading>
								</a>
							</li>
							<li class="" ng-class="{'active': AddTab}">
								<a ng-click="AddForm()">
									<tab-heading>
										<i ng-show="!EditMode" class="fa fa-plus"></i><span ng-show="!EditMode">{{resData.res_SettingMaster_Add}}</span><i ng-show="EditMode" class="fa fa-pencil"></i><span ng-show="EditMode">{{resData.res_TransportVehicleUI_Edit}}</span>
									</tab-heading>
								</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane" ng-class="{'active': AddTab}">
								<div class="panel-content">
									<div class="row">
										<div class="formcontrols form-horizontal ng-pristine ng-valid" style="padding-bottom: 51px!important;">
											<div class="col-lg-12">
												<div ng-if="pageContrlAcessData.VehicleType !='0'">
													<div class="col-lg-6">
														<div class="columnfulldata  margintopdata">
															<div class="labelname reasonlable">
																{{resData.res_VehicleSize_VehicleType}}<span style="color:red;">*</span>
															</div>
															<div class="labelcontrol">
																<select id="ddlPaymentPlanId" ng-model="TruckSizeDeailsJSON.VehicleType" ng-disabled="EditMode" class="form-control" name="val_SelectObject" ng-options="obj.LookUpId as obj.Name for obj in VehicleTypeList | orderBy:'Code'" ng-readonly="pageContrlAcessData.VehicleType =='0' || pageContrlAcessData.VehicleType =='1'">
																	<option value="">Select</option>
																</select>

															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="col-lg-12">
												<div ng-if="pageContrlAcessData.TruckSize !='0'">
													<div class="col-lg-6">
														<div class="columnfulldata  margintopdata">
															<div class="labelname reasonlable">
																{{resData.res_VehicleSize_TruckSize}}<span style="color:red;">*</span>
															</div>
															<div class="labelcontrol">
																<input type="text" ng-readonly="pageContrlAcessData.TruckSize =='0' || pageContrlAcessData.TruckSize =='1' || EditMode == true" ng-model="TruckSizeDeailsJSON.TruckSize" class="form-control" />
															</div>

														</div>
													</div>
												</div>
												<div style="float: left; width: 40%; margin-left: -77px; margin-top: 6px;">
													(Eg : {{resData.res_VehicleSize_TruckSizeExample}})
												</div>
											</div>

											<div class="col-lg-12">
												<div ng-if="pageContrlAcessData.TruckCapacityPalettes !='0'">
													<div class="col-lg-6">
														<div class="columnfulldata  margintopdata">
															<div class="labelname reasonlable">
																{{resData.res_VehicleSize_TruckCapacityPalettes}}
															</div>
															<div class="labelcontrol">
																<input type="text" ng-keypress="filterValue($event)" ng-readonly="pageContrlAcessData.TruckCapacityPalettes =='0' || pageContrlAcessData.TruckCapacityPalettes =='1'" ng-model="TruckSizeDeailsJSON.TruckCapacityPalettes" class="form-control" />
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="col-lg-12">
												<div ng-if="pageContrlAcessData.TruckCapacityWeight !='0'">
													<div class="col-lg-6">
														<div class="columnfulldata  margintopdata">
															<div class="labelname reasonlable">
																{{resData.res_VehicleSize_TruckCapacityWeight}}{{resData.res_VehicleSize_WeightUnit}}<span style="color:red;">*</span>
															</div>
															<div class="labelcontrol">
																<input type="text" ng-keypress="filterValue($event)" ng-readonly="pageContrlAcessData.TruckCapacityWeight =='0' || pageContrlAcessData.TruckCapacityWeight =='1'" ng-model="TruckSizeDeailsJSON.TruckCapacityWeight" class="form-control" />
															</div>
														</div>
													</div>
												</div>

											</div>

											<div class="col-lg-12">
												<div ng-if="pageContrlAcessData.Height !='0'">
													<div class="col-lg-6">
														<div class="columnfulldata  margintopdata">
															<div class="labelname reasonlable">
																{{resData.res_VehicleSize_Height}}{{resData.res_VehicleSize_HeightWidthLengthUnit}}
															</div>
															<div class="labelcontrol">
																<input type="text" ng-keypress="filterValue($event)" ng-readonly="pageContrlAcessData.Height =='0' || pageContrlAcessData.Height =='1'" ng-model="TruckSizeDeailsJSON.Height" class="form-control" />
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="col-lg-12">
												<div ng-if="pageContrlAcessData.Width !='0'">
													<div class="col-lg-6">
														<div class="columnfulldata  margintopdata">
															<div class="labelname reasonlable">
																{{resData.res_VehicleSize_Width}}{{resData.res_VehicleSize_HeightWidthLengthUnit}}
															</div>
															<div class="labelcontrol">
																<input type="text" ng-keypress="filterValue($event)" ng-readonly="pageContrlAcessData.Width =='0' || pageContrlAcessData.Width =='1'" ng-model="TruckSizeDeailsJSON.Width" class="form-control" />
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="col-lg-12">
												<div ng-if="pageContrlAcessData.Length !='0'">
													<div class="col-lg-6">
														<div class="columnfulldata  margintopdata">
															<div class="labelname reasonlable">
																{{resData.res_VehicleSize_Length}}{{resData.res_VehicleSize_HeightWidthLengthUnit}}
															</div>
															<div class="labelcontrol">
																<input type="text" ng-keypress="filterValue($event)" ng-readonly="pageContrlAcessData.Length =='0' || pageContrlAcessData.Length =='1'" ng-model="TruckSizeDeailsJSON.Length" class="form-control" />
															</div>
														</div>
													</div>
												</div>

											</div>

											<div class="ActionButtons">
												<div class="clearbtn">
													<button type="button" ng-click="ClearControls()" class="btn btn-default">Clear</button>
												</div>
												<div class="successbtn">
													<button type="button" ng-click="Save()" class="btn btn-success">Save</button>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="tab-pane active" ng-class="{'active': ViewTab}">
								<div class="panel-content">
									<div class="row">
										<div class="formcontrols form-horizontal ng-pristine ng-valid">
											<div class="col-md-12">
												<div id="TruckSizeGrid" class="Company_Grid" style="height: 70vh;" dx-data-grid="TruckSizeGrid" dx-item-alias="TruckSizeData">

                                                    <div data-options="dxTemplate:{ name:'ActiveInActiveTemplate' }">
                                                        <a class="greenbgfont approvebtn" ng-if="TruckSizeData.data.IsActive=='0'" ng-click="ActiveInActiveVehicleSizeConfirmation(TruckSizeData.data.TruckSizeId,'1')">    {{resData.res_VehicleSize_Active}} </a>
                                                        <a class="greenbgfont approvebtn" ng-if="TruckSizeData.data.IsActive=='1'" ng-click="ActiveInActiveVehicleSizeConfirmation(TruckSizeData.data.TruckSizeId,'0')">    {{resData.res_VehicleSize_InActive}} </a>
                                                    </div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</ion-content>

	<script id="WarningMessage.html" type="text/ng-template">
		<ion-modal-view hide-back-button="false" class="confirmationmsgmodalview bgcolorheaderandfooter">

			<ion-header-bar class="bar bar-header bar-positive popupheadercolor" style="display: block;">
				<h1 class="title">{{resData.res_AddCompany_Warning}}</h1>
				<button class="button button-clear button-primary" ng-click="CloseDeleteConfirmation()"><i class="fa fa-times" style="color:#000 !important;"></i></button>
			</ion-header-bar>
			<ion-content scroll="false" class="popioncontainer">
				<div class="messagebody" style="margin-left: 15px;font-weight: 500;">
					{{resData.res_AddCompany_DeleteWarning}}
				</div>
			</ion-content>
			<ion-footer-bar class="popupfooter">

				<div class="popupbtnstyle">
					<div class="popupbuttonstyle">
						<a class="btn btn-success btn-square" ng-click="DeleteYes()">
							{{resData.res_AddCompany_DeleteYes}}
						</a>
						<a class="btn btn-success btn-square" ng-click="CloseDeleteConfirmation()">
							{{resData.res_AddCompany_DeleteNo}}
						</a>
					</div>


				</div>
			</ion-footer-bar>
		</ion-modal-view>
	</script>

    <script id="ActiveInActiveWarningMessage.html" type="text/ng-template">
        <ion-modal-view hide-back-button="false" class="confirmationmsgmodalview bgcolorheaderandfooter">

            <ion-header-bar class="bar bar-header bar-positive popupheadercolor" style="display: block;">
                <h1 class="title">{{resData.res_VehicleSize_Warning}}</h1>
                <button class="button button-clear button-primary" ng-click="CloseActiveInActiveWarningMessageConfirmation()"><i class="fa fa-times" style="color:#000 !important;"></i></button>
            </ion-header-bar>
            <ion-content scroll="false" class="popioncontainer">
                <div class="messagebody" style="margin-left: 15px;font-weight: 500;" ng-if="SelectedIdVehicleSizeAction === '1'">
                    {{resData.res_VehicleSize_ActiveWarning}}
                </div>
                <div class="messagebody" style="margin-left: 15px;font-weight: 500;" ng-if="SelectedIdVehicleSizeAction === '0'">
                    {{resData.res_VehicleSize_InActiveWarning}}
                </div>
            </ion-content>
            <ion-footer-bar class="popupfooter">

                <div class="popupbtnstyle">
                    <div class="popupbuttonstyle">
                        <a class="btn btn-success btn-square" ng-click="ActiveInActiveVehicleSize()">
                            {{resData.res_VehicleSize_ActiveInActiveYes}}
                        </a>
                        <a class="btn btn-success btn-square" ng-click="CloseActiveInActiveWarningMessageConfirmation()">
                            {{resData.res_VehicleSize_ActiveInActiveNo}}
                        </a>
                    </div>


                </div>
            </ion-footer-bar>
        </ion-modal-view>
    </script>

</ion-view>