<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <!--<div id="passwordResetDiv" data-ng-init="passwordReset.init();">


        <h2><span class="entypo-login"></span>Reset Password</h2>
        <div ng-show="ByOTP">
            <span class="entypo-user inputUserIcon"></span>
            <input class="user" id="otp" ng-model="otp" name="otp" required="" ng-Value="otp" placeholder="OTP">
        </div>
        <span class="entypo-key inputPassIcon"></span>
        <input ng-model="ConfirmNewPassword" ng-required pw-check="NewPassword" type="password" ng-value="ConfirmNewPassword" class="pass" placeholder="ConfirmNewPassword" name="ConfirmNewPassword" required="">

        <div class="msg-block" ng-show="myForm.$error">
            <span class="msg-error" ng-show="myForm.pw2.$error.pwmatch">Passwords don't match.</span>
        </div>
        <button type="button" class="submit" style="padding: 16px; border-radius: 7px; border: 0px; margin-right: 65px !important; margin: 15px; width: 300px; color: white;
              font-size: 18px; height: 54px;" ng-click="resetOldPassword();">
            Reset
        </button>


    </div>-->

    <div style="" class="ng-scope app-navbar-fixed app-sidebar-fixed login-layout" data-ng-init="passwordReset.init();" ui-view="" id="app" ng-class="{'app-mobile' : app.isMobile, 'app-navbar-fixed' : app.layout.isNavbarFixed, 'app-sidebar-fixed' : app.layout.isSidebarFixed, 'app-sidebar-closed':app.layout.isSidebarClosed, 'app-footer-fixed':app.layout.isFooterFixed}">
        <!-- uiView:  --><div ui-view="" class="fade-in-right-big smooth ng-scope">
            <!-- start: LOGIN -->
            <div class="row ng-scope">
                <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">

                    <!-- start: LOGIN BOX -->
                    <div class="box-login">
                        <div class="logo">
                            <img class="login-logo" src="Images/CampusLogo.PNG" alt="Clip-Two">
                        </div>
                        <div class="form-login ng-pristine ng-valid">
                            <!--<form class="form-login ng-pristine ng-valid" action="index.html">-->
                            <fieldset>
                                <legend>
                                    Reset Password
                                </legend>
                                <p>
                                    Please enter your new password.
                                </p>

                                <div class="form-group">
                                    <span class="input-icon" ng-show="ByOTP">
                                        <!--<input class="form-control" name="otp"  ng-value="otp" placeholder="OTP" type="text">-->
                                        <input ng-model="Otp" ng-required ng-value="Otp" class="form-control" placeholder="OTP" name="Otp" required="">
                                    </span>
                                </div>
                                <div class="form-group">
                                    <span class="input-icon" ng-show="ByOTP">
                                        <span class="entypo-key inputPassIcon"></span>
                                        <input ng-model="NewPassword" type="Password" class="form-control" ng-value="NewPassword" ng-required placeholder="NewPassword" name="NewPassword">

                                    </span>
                                </div>
                                <div class="form-group">
                                    <span class="input-icon" ng-show="ByOTP">
                                        <span class="entypo-key inputPassIcon"></span>
                                        <input ng-model="ConfirmNewPassword" ng-required pw-check="NewPassword" type="password" ng-value="ConfirmNewPassword" class="form-control" placeholder="ConfirmNewPassword" name="ConfirmNewPassword" required="">

                                    </span>
                                </div>

                                <div class="form-group">
                                    <div class="msg-block" ng-show="myForm.$error">
                                        <span class="msg-error" ng-show="myForm.pw2.$error.pwmatch">Passwords don't match.</span>
                                    </div>
                                </div>
                                <div class="form-actions">

                                    <button type="submit" ng-click="resetOldPassword();" class="btn btn-primary pull-right">
                                        Reset <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>

                            </fieldset>
                        </div>
                            <!--</form>-->
                            <!-- start: COPYRIGHT -->
                            <div class="copyright ng-binding">
                                2016 © Campus.
                            </div>
                            <!-- end: COPYRIGHT -->
                        </div>
                    <!-- end: LOGIN BOX -->
                </div>
            </div>
            <!-- end: LOGIN -->
        </div>
    </div>
</body>
</html>
