<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>

    <div class="row-fluid" data-ng-init="PasswordRecovery.init();">
        <div class="uk-tab uk-tab-flip">
            <div class="md-card">
                <div class="md-card-content">

                    <div class="tab-content">


                        <div class="tab-pane active" id="formTab">
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-2">
                                    <div class="uk-form-row">
                                        <!--<%--<div class="uk-full-width" show-errors>
                                            <div class="uk-width-medium-6-10 ">
                                                <label class="control-label">Role :</label>
                                            </div>
                                            <div class="uk-width-medium-4-10">
                                                <select ng-model="RoleName" id="ddlRoleName" class="md-select">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>--%>-->
                                    </div>
                                    <div class="uk-form-row">
                                        <div class="uk-full-width">
                                            <div class="uk-width-medium-6-10 ">
                                                <label class="control-label">OTP Required :</label>
                                            </div>
                                            <div class="uk-width-medium-4-10">
                                                <input id="chkIsOTPRequired" type="checkbox" name="Input" ng-model="IsOTPRequired" class="md-input" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <div class="uk-full-width">
                                            <div class="uk-width-medium-6-10 ">
                                                <label class="control-label">Security Question Mandatory :</label>
                                            </div>
                                            <div class="uk-width-medium-4-10">
                                                <input id="chkIsSecurityQuestionMandatory" type="checkbox" name="Input" ng-model="IsSecurityQuestionMandatory" class="md-input" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <div class="uk-full-width">
                                            <div class="uk-width-medium-6-10 ">
                                                <label class="control-label">RecoveryThroughPrimaryEmail :</label>
                                            </div>
                                            <div class="uk-width-medium-4-10">
                                                <input id="chkRecoveryThroughPrimaryEmail" type="checkbox" name="Input" ng-model="RecoveryThroughPrimaryEmail" class="md-input" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <div class="uk-full-width">
                                            <div class="uk-width-medium-6-10 ">
                                                <label class="control-label">Recovery Through Alternate Email :</label>
                                            </div>
                                            <div class="uk-width-medium-4-10">
                                                <input id="chkRecoveryThroughAlternateEmail" type="checkbox" name="Input" ng-model="RecoveryThroughAlternateEmail" class="md-input" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <div class="uk-full-width">
                                            <div class="uk-width-medium-6-10 ">
                                                <label class="control-label">Recovery Through Registered Mobile :</label>
                                            </div>
                                            <div class="uk-width-medium-4-10">
                                                <input id="txtRecoveryThroughRegisteredMobile" type="checkbox" name="Input" ng-model="RecoveryThroughRegisteredMobile" class="md-input" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <div class="uk-full-width">
                                            <div class="uk-width-medium-6-10 ">
                                                <label class="control-label">Minimum Uppercase Characters Required :</label>
                                            </div>
                                            <div class="uk-width-medium-4-10">
                                                <input id="txtRecoveryThroughSecurityQuestion" type="checkbox" name="Input" ng-model="RecoveryThroughSecurityQuestion" class="md-input" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <div class="uk-full-width">
                                            <div class="uk-width-medium-6-10 ">
                                                <label class="control-label">Minimum Lowercase Characters Required :</label>
                                            </div>
                                            <div class="uk-width-medium-4-10">
                                                <input id="txtCanAdminResetPassword" type="checkbox" name="Input" ng-model="CanAdminResetPassword" class="md-input" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="uk-grid">
                                <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                    <div class="uk-input-group">
                                        <input id="buttonSave" ng-click="save()" type="button" class="md-btn md-btn-danger" value="Save" />
                                        <!--<%--  <input id="buttonBack" ng-click="reset()" type="button" class="md-btn" value="Reset" />--%>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="gridTab">

                            <h2>{{ title }}</h2>
                            <div>
                                <br />
                                <button ng-click="setPageSize()">Set page size</button>
                                <br />
                                <br />
                                <div kendo-grid="mainGrid" k-options="mainGridOptions" k-rebind="mainGridOptions"></div>
                            </div>
                        </div>

                    </div>
                    <div kendo-window="modal" k-title="'Title'" style="display:none" k-visible="false" k-modal="true">
                        Are you sure you want to delete: {{ Questions }}
                        <button ng-click="deleteSecurityQuestion(securityQuestionId)">OK</button>
                    </div>


                </div>
            </div>
        </div>
    </div>

</body>
</html>
