<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="PageTopContainer">
        <ul class="nav nav-tabs">
            <li id="Viewform"><a onclick="ShowGrid()" data-toggle="tab" id="lnkViewAll">View All</a></li>
            <li id="Addform" class="active"><a onclick="ShowForm()" data-toggle="tab" id="lnkAddNew">Add New</a></li>
        </ul>
        <div class="row-fluid" data-ng-init="securityQuestion.init();">
            <div class="uk-tab uk-tab-flip">
                <div class="md-card">
                    <div class="md-card-content">

                        <div class="tab-content">


                            <div class="tab-pane active" id="formTab">
                                <div class="uk-grid">
                                    <div class="uk-width-medium-1-2">
                                        <div class="uk-form-row">
                                            <div class="uk-full-width" show-errors>
                                                <div class="uk-width-medium-6-10 ">
                                                    <label class="control-label">Role :</label>
                                                </div>
                                                <div class="uk-width-medium-4-10">
                                                    <select ng-model="securityQuestion.ddlRoleName">
                                                        <option value="0">Select</option>
                                                        <option data-ng-repeat="t in securityQuestion" value="{{t.RoleMasterId}}">{{t.RoleName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-full-width" show-errors>
                                                <div class="uk-width-medium-6-10 ">
                                                    <label class="control-label">Question :</label>
                                                </div>
                                                <div class="uk-width-medium-4-10">
                                                    <input id="txtQuestion" type="text" name="Input" ng-model="Questions" class="md-input" required />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="uk-form-row">
                                            <div class="uk-full-width">
                                                <div class="uk-width-medium-6-10 ">
                                                    <label class="control-label">Upper Case Allowed :</label>
                                                </div>
                                                <div class="uk-width-medium-4-10">
                                                    <input id="chkUpperCaseAllowed" type="checkbox" name="Input" ng-model="IsUpperCaseAllowed" class="md-input" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-full-width">
                                                <div class="uk-width-medium-6-10 ">
                                                    <label class="control-label">Lower Case Allowed :</label>
                                                </div>
                                                <div class="uk-width-medium-4-10">
                                                    <input id="chkLowerCaseAllowed" type="checkbox" name="Input" ng-model="IsLowerCaseAllowed" class="md-input" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-full-width">
                                                <div class="uk-width-medium-6-10 ">
                                                    <label class="control-label">Number Allowed :</label>
                                                </div>
                                                <div class="uk-width-medium-4-10">
                                                    <input id="chkNumberAllowed" type="checkbox" name="Input" ng-model="IsNumberAllowed" class="md-input" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-full-width">
                                                <div class="uk-width-medium-6-10 ">
                                                    <label class="control-label">Special Character Allowed :</label>
                                                </div>
                                                <div class="uk-width-medium-4-10">
                                                    <input id="chkSpecialCharacterAllowed" type="checkbox" name="Input" ng-model="IsSpecialCharacterAllowed" class="md-input" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-full-width">
                                                <div class="uk-width-medium-6-10 ">
                                                    <label class="control-label">Special Characters To Be Excluded:</label>
                                                </div>
                                                <div class="uk-width-medium-4-10">
                                                    <input id="txtSpecialCharactersToBeExcluded" type="text" name="Input" ng-model="SpecialCharactersToBeExcluded" class="md-input" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-full-width">
                                                <div class="uk-width-medium-6-10 ">
                                                    <label class="control-label">Minimum Uppercase Characters Required :</label>
                                                </div>
                                                <div class="uk-width-medium-4-10">
                                                    <input id="txtMinimumUppercaseCharactersRequired" type="text" name="Input" ng-model="MinimumUppercaseCharactersRequired" class="md-input" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-full-width">
                                                <div class="uk-width-medium-6-10 ">
                                                    <label class="control-label">Minimum Lowercase Characters Required :</label>
                                                </div>
                                                <div class="uk-width-medium-4-10">
                                                    <input id="txtMinimumLowercaseCharactersRequired" type="text" name="Input" ng-model="MinimumLowercaseCharactersRequired" class="md-input" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-full-width">
                                                <div class="uk-width-medium-6-10 ">
                                                    <label class="control-label">Minimum Special Characters Required :</label>
                                                </div>
                                                <div class="uk-width-medium-4-10">
                                                    <input id="txtMinimumSpecialCharactersRequired" type="text" name="Input" ng-model="MinimumSpecialCharactersRequired" class="md-input" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <div class="uk-full-width">
                                                <div class="uk-width-medium-6-10 ">
                                                    <label class="control-label">Minimum Numerics Required :</label>
                                                </div>
                                                <div class="uk-width-medium-4-10">
                                                    <input id="txtMinimumNumericsRequired" type="text" name="Input" ng-model="MinimumNumericsRequired" class="md-input" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-grid">
                                    <div class="uk-width-large-1-4 uk-width-medium-1-2">
                                        <div class="uk-input-group">
                                            <input id="buttonSave" ng-click="save()" type="button" class="md-btn md-btn-danger" value="Save" />
                                            <input id="buttonBack" ng-click="reset()" type="button" class="md-btn" value="Reset" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="gridTab">

                                <h2>{{ title }}</h2>
                                <div>
                                    <br />
                                    <button ng-click="setPageSize()">Set page size</button>
                                    <br />
                                    <br />
                                    <div kendo-grid="mainGrid" k-options="mainGridOptions" k-rebind="mainGridOptions"></div>
                                </div>
                            </div>

                        </div>
                        <div kendo-window="modal" k-title="'Title'" style="display:none" k-visible="false" k-modal="true">
                            Are you sure you want to delete: {{ Question }}
                            <button ng-click="deleteSecurityQuestion(securityQuestionId)">OK</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
