<ion-view>
    <ion-content class="main-content">
        <div class="pageview" style="padding: 20px 30px 0;overflow-y:hidden">
            <div class="row">
                <div class="col-md-12 pagecontainerdiv" style="margin-top:0px">
                    <div class="gridheaderactionbuttons">

                        <div style="float:left;margin-bottom: 24px;">
                            <div class="footerbuttons footerbtnrightborder" style="margin:0px">
                                <a class="buttonstext drop-shadow greencolorbtntext toprefreshbuttons" ng-click="RefreshDataGrid()">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </div>
                            <div class="footerbuttons">
                                <a class="buttonstext drop-shadow greencolorbtntext" ng-click="ExportToExcelSalesAdminApprovalData()">
                                    <i class="fa fa-file-excel-o fa-icon"></i> {{resData.res_OMInquiryPage_ExportToExcel}}
                                </a>
                            </div>
                        </div>


                    </div>
                    <div id="portalview" class="PortalView">
                        <div class="panel drop-shadow" style="background: #f5f5f5;float: left;width: 100%;">
                            <div class="panel-content" style="padding:0px">
                                <div class="dx-viewport">
                                    <div class="demo-container">
                                        <div id="FinanceDashboardGrid" class="SalesAdminApproval_Grid SalesAdminApprovalConfigurationGrid" dx-data-grid="FinanceDashboardGrid" dx-item-alias="FinanceDashboardData">

                                            <div id="EnquiryProductInfoId" class="EnquiryProductInfoClass" data-options="dxTemplate: {name: 'FinanceDashboardInfo'}" style="float: left;">

                                                <div id="FinanceDashboardDetailsGrid" class="SalesAdminApproval_Grid SalesAdminApprovalConfigurationGrid" style="height: auto !important;" dx-data-grid="FinanceDashboardDetailsGrid" dx-item-alias="FinanceDashboardDetailsData">
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>