<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
</head>
<body>

    <ion-view>
        <ion-content class="main-content">
            <div class="pageview">
                <div class="header">
                    <h2> <strong>{{resData.res_ChangePasswordUI_ChangePassword}}</strong></h2>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-tabs2">
                            <div class="tab-content">
                                <div class="panel-content">
                                    <div class="row">
                                        <div class="formcontrols form-horizontal ng-pristine ng-valid">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">{{resData.res_ChangePasswordUI_OldPassword}}</label>
                                                    <div class="col-sm-4">
                                                        <input class="form-control form-white" ng-model="changepass.currentPassword" type="password" placeholder="Current Password">
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">{{resData.res_ChangePasswordUI_NewPassword}}</label>
                                                    <div class="col-sm-4">
                                                        <input class="form-control form-white" ng-model="changepass.newPassword" type="password" placeholder="New Password">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">{{resData.res_ChangePasswordUI_ConfirmPassword}}</label>
                                                    <div class="col-sm-4">
                                                        <input class="form-control form-white" ng-model="changepass.confirmPassword" type="password" placeholder="Confirm Password">
                                                    </div>
                                                </div>
                                            </div>
											<!--Changed by nimesh on 24-10-2019-->
											<!--Changed by nimesh on 29-08-2019-->
											<div style="color:red;float:right;width:100% !important;margin-top:10px">
												<p>The password must be minimum 8 characters length with 1 Uppercase letter, 1 Lowercase letter, 1 number & 1 special character  ()@$!%*?&:;.#+-)</p>
												<p>Maximum length must not be more than 10 characters.</p>
											</div>
                                            <div class="ActionButtons">
                                                <div class="successbtn" style="margin-right:10px">
                                                    <button type="button" ng-click="changePassword()" class="btn btn-success">{{resData.res_ChangePasswordUI_Save}}</button>
                                                </div>
                                                <div class="clearbtn">
                                                    <button type="button" ng-click="reset()" class="btn btn-default">{{resData.res_ChangePasswordUI_Clear}}</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
    <script id="ChangePassword.html" type="text/ng-template">
        <ion-modal-view hide-back-button="false" class="confirmationmsgmodalview bgcolorheaderandfooter">

            <ion-header-bar class="bar bar-header bar-positive popupheadercolor" style="display: block;">
                <h1 class="title">Confirmation Message</h1>
                <button class="button button-clear button-primary" ng-click="CloseChangePasswordControl()"><i class="fa fa-times"></i></button>
            </ion-header-bar>
            <ion-content scroll="false" class="popioncontainer">
                <div class="messagebody" style="margin-left: 15px;font-weight: 500;">
                    {{ChangePassConfirmationAlert}}
                </div>
            </ion-content>
            <ion-footer-bar class="popupfooter">

                <div class="popupbtnstyle">
                    <!--<div class="popupbuttonstyle">
                        <a class="btn btn-success btn-square" ng-click="RedirectOnScreen()">
                           Yes
                        </a>
                    </div>
                    <div class="popupbuttonstyle">
                        <a class="clearbtn btn-square" ng-click="CloseChangePasswordControl()">
                           No
                        </a>
                    </div>-->
                    <div class="popupbuttonstyle">
                        <div class="successbtn" style="margin-right:10px">
                            <button type="button" ng-click="RedirectOnScreen()" class="btn btn-success">Yes</button>
                        </div>
                    </div>
                    <div class="popupbuttonstyle">
                        <div class="clearbtn">
                            <button type="button" ng-click="CloseChangePasswordControl()" class="btn btn-default">No</button>
                        </div>
                    </div>

                    <!--<div class="popupbuttonstyle">
                        <a class="btn btn-success btn-square" ng-click="CloseAddTruckControl()">
                            {{resData.res_CreateInquiryPage_EditOrder}}
                        </a>
                    </div>-->
                </div>
            </ion-footer-bar>
        </ion-modal-view>
    </script>



	<!--Changesby nimesh on 29-08-2019-->
	<script id="PasswordPolicyModalPopup.html" type="text/ng-template">
		<ion-modal-view hide-back-button="false" class="confirmationmsgmodalview bgcolorheaderandfooter" style="width: 800px !important" ;>

			<ion-header-bar class="bar bar-header bar-positive popupheadercolor" style="display: block;">
				<h1 class="title">Attention</h1>
				<button class="button button-clear button-primary" ng-click="ClosePasswordPolicyChangeConfirmationPopup()"><i class="fa fa-times" style="color:#000 !important;"></i></button>
			</ion-header-bar>
			<ion-content scroll="false" class="popioncontainer">
				<div class="messagebody" style="margin-left: 15px;font-weight: 500;">
					The password length must be minimum 8 characters length with 1 Uppercase letter, 1 Lowercase letter, 1 number & 1 special character  @$!%*?&:;.#+- . Maximum length must be not more than 10 characters.
				</div>
			</ion-content>





			<ion-footer-bar class="popupfooter">
				<div class="popupbtnstyle">

					<div class="popupbuttonstyle">
						<a class="btn btn-success btn-square redclosebtn" ng-click="ClosePasswordPolicyChangeConfirmationPopup()">
							Close
						</a>
					</div>
				</div>
			</ion-footer-bar>
		</ion-modal-view>
	</script>

	<!--Changed by nimesh on 29-08-2019-->
	<script id="ChangePasswordSuccessfully.html" type="text/ng-template">
		<ion-modal-view hide-back-button="false" class="confirmationmsgmodalview bgcolorheaderandfooter" style="width: 800px !important" ;>

			<ion-header-bar class="bar bar-header bar-positive popupheadercolor" style="display: block;">
				<h1 class="title">Success</h1>
				<button class="button button-clear button-primary" ng-click="RedirectToLoginPage()"><i class="fa fa-times" style="color:#000 !important;"></i></button>
			</ion-header-bar>
			<ion-content scroll="false" class="popioncontainer">
				<div class="messagebody" style="margin-left: 15px;font-weight: 500;">
					Password changed successfully. Please login again.
				</div>
			</ion-content>





			<ion-footer-bar class="popupfooter">
				<div class="popupbtnstyle">

					<div class="popupbuttonstyle">
						<a class="btn btn-success btn-square redclosebtn" ng-click="RedirectToLoginPage()">
							Close
						</a>
					</div>
				</div>
			</ion-footer-bar>
		</ion-modal-view>
	</script>
</body>
</html>
