<ion-view>
    <ion-content class="main-content">
        <div class="pageview">
            <div class="fixrighttopbutton">
                <div class="col-sm-2 singlebtn col-md-2" style="float:right">
                    <a class="btn btn-success btn-square" ng-click="GetAllRecordUpdated()" style="display:none">{{resData.res_OMOrderPage_Update}}</a>
                    <a class="btn btn-success btn-square" ng-click="GetAllRecordToPrintPrintSlip()" style="display:none">{{resData.res_OMOrderPage_PrintPickSlip}}</a>
                    <a class="btn btn-success btn-square" ng-click="RefreshGrid()">{{resData.res_OMOrderPage_Refresh}}</a>
                </div>

            </div>

            <div class="header">
                <h2>{{resData.res_OMOrderPage_OrderList}}</h2>
            </div>

            <div class="row">
                <div class="col-md-12" style="margin-top: 15px;">

                    <div id="portalview" class="PortalView">

                        <div class="panel">
                            <div class="MultiSelectControlRow">
                                <div class="form-group MultiSelectControl">
                                    <div ng-dropdown-multiselect="" options="ProductList" selected-model="ProductSelectedList" checkboxes="true" extra-settings="MultiSelectDropdownSetting"></div>

                                </div>
                                <a class="btn btn-success btn-square" ng-click="SearchEnquiryIncludeByProductName()">{{resData.res_CustomerOrderUI_Include}}</a>
                                <a class="btn btn-success btn-square" ng-click="SearchEnquiryExcludeByProductName()">{{resData.res_CustomerOrderUI_Exclude}}</a>
                                <a class="btn btn-success btn-square" ng-click="ClearProductSearch()">{{resData.res_CustomerOrderUI_Clear}}</a>
                            </div>
                            <div class="panel-content">
                                <div kendo-grid="Grid" id="InquiryDetailsGrid" k-options="OrderDetailsGrid" k-rebind="OrderDetailsGrid"></div>
                            </div>
                        </div>
                    </div>
                    <div id="mobileview" class="MobileView">
                        <div class="customlistview" ng-repeat="item in GridData.data">
                            <div class="paddingcontainer">
                                <div class="listviewContainer">
                                    <span class="listviewtitle">
                                        {{item.InquiryNumber}}
                                    </span>
                                </div>
                                <div class="listviewContainer">
                                    <span class="listviewdatafield">
                                        Truck Size : {{item.TruckSize}}
                                    </span>
                                    <span class="listviewdatafield">
                                        Sold To : {{item.SoldTo}}
                                    </span>
                                    <span class="listviewdatafield">
                                        Ship To : {{item.ShipTo}}
                                    </span>


                                    <span class="listviewdatafield">
                                        {{resData.res_OMOrderPage_Status}}<span ng-class="{'greenbgfont':item.Status ==='Clean','redbgfont':item.Status ==='Exceptional','graybgfont':item.Status ==='Draft','graybgfont':item.Status ===''}">
                                            {{item.Status}}
                                        </span>
                                    </span>
                                    <span class="listviewdatafield">
                                        Remark : {{item.Remark}}
                                    </span>
                                </div>
                            </div>


                            <div class="listviewContainer">
                                <div class="listviewinnerContainer">
                                    <div class="listviewchecklists">
                                        <span class="checklistlable">{{resData.res_OMOrderPage_Empties}}</span>
                                        <span class="checklistsign">
                                            <i class="fa fa-check" ng-class="{'fa-check greenbgfont':item.Empties ==='1','fa-times redbgfont':item.Empties ===''}"></i>
                                        </span>
                                    </div>
                                    <div class="listviewchecklists">
                                        <span class="checklistlable">{{resData.res_OMOrderPage_Capacity}}</span>
                                        <span class="checklistsign">
                                            <i class="fa fa-check" ng-class="{'fa-check greenbgfont':item.Capacity ==='1','fa-times redbgfont':item.Capacity ===''}"></i>
                                        </span>
                                    </div>
                                    <div class="listviewchecklists">
                                        <span class="checklistlable">{{resData.res_OMOrderPage_Stock}}</span>
                                        <span class="checklistsign">
                                            <i class="fa fa-check" ng-class="{'fa-check greenbgfont':item.Stock ==='1','fa-times redbgfont':item.Stock ===''}"></i>
                                        </span>
                                    </div>
                                    <div class="listviewchecklists">
                                        <span class="checklistlable">{{resData.res_OMOrderPage_SchedulingDate}}</span>
                                        <span class="checklistsign">
                                            <i class="fa fa-check" ng-class="{'fa-check greenbgfont':item.SpecialRequest ==='1','fa-times redbgfont':item.SpecialRequest ===''}"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="listviewContainer">
                                <a class="btn btn-success SingleRowbtn"><i class="icons-office-51"></i>{{resData.res_OMOrderPage_Approve}}</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <script id="templates/reasoncodepopup.html" type="text/ng-template">
            <ion-modal-view class="confirmationmsgmodalview bgcolorheaderandfooter" style="min-height:300px !important">
                <ion-header-bar class="bar bar-header bar-positive">
                    <h1 class="title">Reason Code</h1>
                    <button class="button button-clear button-primary" ng-click="ClosReasoncodepopup()"><i class="fa fa-times"></i></button>
                </ion-header-bar>
                <ion-content scroll="hidden" class="padding IonicPopupHeight">
                    <div class="list">
                        <div class="customlistcontrolview">
                            <div class="col-lg-12" style="margin-bottom: 0px;padding: 0px;">
                                <div class="columnfulldata  margintopdata">
                                    <div class="labelname reasonlable">
                                        Please choose reason code :
                                    </div>
                                    <div class="labelcontrol">
                                        <select class="form-control"
                                                ng-model="ReasonCodeJson.ReasonCode" ng-options="obj.ReasonCodeId as obj.ReasonName for obj in ReasonCodeList">
                                            <option value="">Select</option>
                                        </select>
                                    </div>


                                </div>
                            </div>
                            <div class="col-lg-12" style="margin-bottom: 0px;padding: 0px;">
                                <div class="columnfulldata  margintopdata">

                                    <div class="labelname reasonlable">
                                        Description :
                                    </div>
                                    <div class="labelcontrol">
                                        <textarea type="text" class="form-control form-white" rows="4" cols="50" ng-model="ReasonCodeJson.ReasonDescription"></textarea>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </ion-content>

                <ion-footer-bar align-title="left" class="popupfooter">

                    <div class="popupbtnstyle">

                        <div class="popupbuttonstyle">
                            <a class="btn btn-success btn-square" ng-click="SaveReasonCode()">
                                Save
                            </a>
                        </div>
                        <div class="popupbuttonstyle">
                            <a class="btn btn-success btn-square redclosebtn" ng-click="ClosReasoncodepopup()">
                                Close
                            </a>
                        </div>
                    </div>

                </ion-footer-bar>
            </ion-modal-view>
        </script>

    </ion-content>
</ion-view>