<ion-view>
    <ion-content class="main-content">

        <div class="pageview">

           

            <div class="row">
                <div class="col-md-12" style="margin-top: 15px;">

                    <div class="nav-tabs2">
                        <ul class="nav nav-tabs masterpageUl" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}">
                            <li class="active" ng-class="{'active': ViewTab}">
                                <a ng-click="ViewForm()" class="">
                                    <tab-heading>
                                        <i class="fa fa-eye"></i>{{resData.res_UserDetail_View}}
                                    </tab-heading>
                                </a>
                            </li>
                            <li class="" ng-class="{'active': AddTab}">
                                <a ng-click="AddForm()">
                                    <tab-heading>
                                        <i class="fa fa-plus"></i>{{resData.res_UserDetail_Add}}
                                    </tab-heading>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" ng-class="{'active': AddTab}">
                                <div class="panel-content">
                                    <div class="row">
                                        <div class="formcontrols form-horizontal ng-pristine ng-valid">

                                            <div class="tabcontainerbox" ng-class="{'activetab': FirstTab}">
                                                <div class="panel-content">
                                                    <div style="float:left;width:15%">
                                                        <div class="md-card-content">
                                                            <div class="uk-margin-bottom uk-text-center campusVendorProduct uk-position-relative">
                                                                <div class="user_heading_avatar productImages fileinput fileinput-new" style="float: none" data-provides="fileinput">
                                                                    <div class="fileinput-new thumbnail">
                                                                        <img class="" data-ng-src="{{UserImage.UserPhoto}}" ng-model="UserImage.UserPhoto" data-err-src="Images/download.jpg">
                                                                    </div>
                                                                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                                                    <div class="user_avatar_controls">
                                                                        <div class="cameraiconcss">
                                                                            <span class="btn-file">
                                                                                <span class="fileinput-new" style="margin-left: 11px;position: relative;top: 10px;">
                                                                                    <i class="fa fa-camera" style="font-size:16px">
                                                                                    </i>
                                                                                </span>
                                                                                <span class="fileinput-exists" style="margin-left: 11px;    position: relative;    top: 10px;">
                                                                                    <i class="fa fa-camera" style="font-size:16px">
                                                                                    </i>
                                                                                </span>
                                                                                <img class="" data-ng-src="{{UserImage.Photo}}" ng-model="UserImage.Photo" data-err-src="Images/download.jpg">
                                                                                <input name="user_edit_avatar_control" id="user_edit_avatar_control" type="file" image-model="UserImage.Photo" accept="image/*">
                                                                            </span>
                                                                        </div>

                                                                        <a href="#" id="btn2" class="btn-file fileinput-exists" data-dismiss="fileinput">
                                                                            <div class="deleteiconcss">
                                                                                <div style="margin-left: 11px;position: relative;top: 10px;">
                                                                                    <i class="fa fa-times" style="font-size: 20px;">
                                                                                    </i>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div style="float:left;width:60%">
                                                        <div class="fullwidth">
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    Driver Name :
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <input class="form-control form-white" ng-model="UserInfo.Name" placeholder="User Name" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="fullwidth">
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    Driver Id :
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <input class="form-control form-white" ng-disabled="IsDisabled" ng-model="UserInfo.IDCard" placeholder="User Id" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fullwidth">
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    Select Role :
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">

                                                                    <select class="form-control" style="margin:0px !important" ng-model="UserInfo.RoleMasterId"
                                                                            ng-options="obj.RoleMasterId as obj.RoleName for obj in RoleMasterList">
                                                                        <option value="">Select</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fullwidth">
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    Mobile Number :
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <input class="form-control form-white"  ng-if="pageContrlAcessData.MobileNumber !='0'" ng-readonly="pageContrlAcessData.MobileNumber =='0' || pageContrlAcessData.MobileNumber =='1' "   ng-model="UserInfo.MobileNumber" onkeypress='return validateQty(event);' placeholder="Mobile Number" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="fullwidth">
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    Email :
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <input class="form-control form-white" ng-model="UserInfo.Email" placeholder="Email" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fullwidth">
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    License Number :
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <input class="form-control form-white"  ng-if="pageContrlAcessData.LicenseNumber !='0'" ng-readonly="pageContrlAcessData.LicenseNumber =='0' || pageContrlAcessData.LicenseNumber =='1' "  ng-model="UserInfo.LicenseNumber" placeholder="License Number" />
                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="fullwidth">
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    Authorised letter :
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <input type="file" id="fileUpload" file-model="fileupload.File" class="md-input">
                                                                </div>
                                                                <div style="float:left;width:auto" ng-if="$scope.ProfileId !== 0" ng-click="DownlodDocument(DocumentId,'Profile',UserInfo.DocumentName)">
                                                                    <a>{{UserInfo.DocumentName}}</a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fullwidth" style="display:none">
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    Truck Size :
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <select class="form-control" style="margin:0px !important">
                                                                        <option value="">Select</option>
                                                                        <option value="">H11</option>
                                                                        <option value="">H13</option>
                                                                        <option value="">H14</option>
                                                                        <option value="">H15</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="fullwidth" style="display:none">
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    Truck Plate Number :
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <input class="form-control form-white" placeholder="Truck Plate Number" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="ActionButtons" style="margin-right: 26%;">
                                                            <div class="clearbtn">
                                                                <a ng-click="Clear()" class="btn btn-default">Clear</a>
                                                            </div>
                                                            <div class="successbtn">
                                                                <a ng-click="Save()" class="btn btn-success">Save</a>
                                                            </div>
                                                            <div class="successbtn" style="margin-left: 5px;">
                                                                <a ng-click="SaveAndLoadUserAccess()" class="btn btn-success">
                                                                    <span style="float:left">
                                                                        Save & Add User Access
                                                                    </span>
                                                                    <span class="angleicon">
                                                                        <i class="fa fa-angle-right icon">
                                                                        </i>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tabcontainerbox" ng-class="{'activetab': SecondTab}" style="margin-bottom: 50px;">
                                                <div>
                                                    <div ng-include="'AddPageAndControlAccess.html'" ng-controller="AddPageAndControlAccess"></div>
                                                </div>
                                                <div class="ActionButtons">
                                                    <div class="clearbtn" style="margin-left: 5px;">
                                                        <a ng-click="BackView()" class="btn btn-default">
                                                            <span style="float:left" class="angleicon">
                                                                <i class="fa fa-angle-left icon">
                                                                </i>
                                                            </span>
                                                            <span style="float:right;margin-left: 10px;">
                                                                Back
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="clearbtn">
                                                        <a ng-click="ClearAccessControl()" class="btn btn-default">Clear</a>
                                                    </div>
                                                    <div class="successbtn">
                                                        <a ng-click="SaveAccessControl()" class="btn btn-success">Save</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" ng-class="{'active': ViewTab}">
                                <div class="panel-content">
                                    <div class="row">
                                        <div class="formcontrols form-horizontal ng-pristine ng-valid">
                                            <div class="col-md-12">
                                                <div id="ViewUserGrid" kendo-grid="Grid" k-options="ViewUserGrid" k-rebind="ViewUserGrid"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>


            <script id="templates/ControlLevelAccess.html" type="text/ng-template">
                <ion-modal-view hide-back-button="false" class="confirmationmsgmodalview bgcolorheaderandfooter" style="height:600px !important;min-height:600px !important;width:75% !important">
                    <ion-header-bar class="bar bar-header bar-positive">
                        <h1 class="title">Control Level Access</h1>
                        <button class="button button-clear button-primary" ng-click="ClosePageControlAccessModalpopup()"><i class="icons-office-52"></i></button>
                    </ion-header-bar>
                    <ion-content scroll="false">
                        <div class="scrollview">
                            <div class="col-md-12 padding">
                                <div class="fullwidth">
                                    <label class="control-label"> Set role permission to access read, write and delete. </label>
                                </div>


                                <div class="pageverticalconatiner">
                                    <div class="labelheading">
                                        <h2> {{PageName}}</h2>
                                    </div>

                                    <table class="table tablegrid table-hover">
                                        <thead>
                                            <tr>
                                                <th>Field Name</th>
                                                <th style="text-align: center;">Show</th>
                                                <th style="text-align: center;">Enable</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="pageControl in PageControlList">
                                                <td>{{pageControl.ControlName}}</td>
                                                <td><input class="form-white" ng-click="SetEnabledControl(pageControl)" ng-model="pageControl.IsShowChecked" type="checkbox" /></td>
                                                <td><input class="form-white" ng-model="pageControl.IsEnableChecked" ng-disabled="!pageControl.IsShowChecked" type="checkbox" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </ion-content>
                    <ion-footer-bar align-title="left" class="bar-assertive">

                        <div style="float:left;width:100%">

                            <div class="buttons rightbtn resetbutton" ng-click="SavePageControlAccess()">
                                <button class="button btn btn-success">Save</button>
                            </div>
                            <div class="buttons rightbtn" ng-click="ResetPageControlAccess()">
                                <button class="button btn btn-default">Reset</button>
                            </div>
                        </div>
                    </ion-footer-bar>
                </ion-modal-view>
            </script>
        </div>

    </ion-content>
</ion-view>