<ion-view>
    <ion-content class="main-content">
        <div class="pageview">
            <div class="header">
                <h2><strong></strong></h2>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="nav-tabs2">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <div class="panel-content">
                                    <div class="row">
                                        <div class="formcontrols form-horizontal ng-pristine ng-valid">
                                            <div class="fullwidth">
                                                <div class="col-md-12" ng-if="OrderFeedbackList.length > 0">
                                                    <div class="form-group">
                                                        <div class="feedbackonproducts">{{resData.res_OrderFeedback_FeedbackOnOrder}} ({{resData.res_GridColumn_OrderNumber}} : {{OrderNumber}})</div>
                                                        <div class="FeedbackOrderInfo">
                                                            <div> <span class="feedbacktitle">{{resData.res_GridColumn_OrderNumber}} :</span> {{OrderNumber}} </div>
                                                            <div> <span class="feedbacktitle">{{resData.res_OrderFeedback_OrderDate}} :</span> {{OrderDate}} </div>
                                                            <div> <span class="feedbacktitle">{{resData.res_OrderFeedback_ShipToCode}} :</span> {{DeliveryLocationName}}</div>
                                                        </div>
                                                        <div class="OrderFeedbackInfo" ng-repeat="orderfeedback in OrderFeedbackList">
                                                            <div class="FeedbackTittle">
                                                                {{orderfeedback.FeedbackName}}
                                                            </div>
                                                            <div class="FeedbackDownload" ng-repeat="document in orderfeedback.DocumentsList">
                                                                <a class="linktext" ng-click="DownloadDocument(document.DocumentsId,orderfeedback.OrderFeedbackId,document.DocumentName,document.DocumentExtension)">{{document.DocumentName}}</a>
                                                            </div>
                                                            <div class="FeedbackDescription">
                                                                <span>{{resData.res_OrderFeedback_Comment}} :</span>  {{orderfeedback.Comment}}
                                                            </div>
                                                            <div class="FeedbackReplyButton">
                                                                <a ng-click="OpenOrderFeedbackViewCodePopup(orderfeedback.OrderFeedbackId, orderfeedback.feedbackId, orderfeedback.SubFeedbackId)">{{resData.res_OrderFeedback_Reply}}</a> <a ng-click="OpenViewFeedbackpopup(orderfeedback.OrderFeedbackId)">{{orderfeedback.OrderFeedbackReplyList.length}} {{resData.res_OrderFeedback_Replies}} </a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col-md-12" ng-if="OrderProductFeedbackList.length > 0">
                                                    <div class="form-group">
                                                        <div class="feedbackonproducts">{{resData.res_OrderFeedback_FeedbackOnProducts}}</div>
                                                        <div class="ProductFeedback" ng-repeat="productfeedback in OrderProductFeedbackList">
                                                            <div class="OrderProductInfo">
                                                                <div> <span class="feedbacktitle">{{resData.res_OrderFeedback_ProductName}} :</span> {{productfeedback.ProductName}} </div>
                                                                <div> <span class="feedbacktitle"> {{resData.res_OrderFeedback_ProductCode}} :</span> {{productfeedback.ProductCode}}</div>
                                                                <div> <span class="feedbacktitle">{{resData.res_OrderFeedback_UOM}} :</span> {{productfeedback.UOM}}</div>
                                                                <!--<div> <span class="feedbacktitle">Quantity :</span> {{productfeedback.Quantity}}</div>-->
                                                                <div> <span class="feedbacktitle">{{resData.res_OrderFeedback_ReturnQuantity}} :</span> {{productfeedback.Quantity}}</div>
                                                            </div>
                                                            <div class="OrderProductFeedbackInfo">
                                                                <div class="ProductFeedbackTittle">
                                                                    {{productfeedback.FeedbackName}}
                                                                </div>
                                                                <div class="FeedbackDownload" ng-repeat="document in productfeedback.DocumentsList" ng-if="productfeedback.DocumentsList != undefined">
                                                                    <a class="linktext" ng-click="DownloadDocument(document.DocumentsId,productfeedback.OrderFeedbackId,document.DocumentName,document.DocumentExtension)">{{document.DocumentName}}</a>
                                                                </div>
                                                                <div ng-if="productfeedback.DocumentsList == undefined">
                                                                    -
                                                                </div>
                                                                <div class="ProductFeedbackDescription">
                                                                    <span>{{resData.res_OrderFeedback_Comment}} :</span> {{productfeedback.Comment}}
                                                                </div>
                                                                <div class="ProductFeedbackReplyButton">
                                                                    <a ng-click="LoadFeedBackForProduct(productfeedback.ProductCode,productfeedback.OrderFeedbackId, productfeedback.feedbackId, productfeedback.SubFeedbackId)">{{resData.res_OrderFeedback_Reply}}</a> <a ng-click="OpenViewFeedbackpopup(productfeedback.OrderFeedbackId)">{{productfeedback.OrderFeedbackReplyList.length}} {{resData.res_OrderFeedback_Replies}} </a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="footerbuttons" style="float:right !important;">

                                                        <a class="buttonstext drop-shadow redcolorbtntext" ng-click="GoBackToPage()" style="background-color: #fff;">
                                                            <i class="fa fa-arrow-circle-left fa-icon" aria-hidden="true"></i>{{resData.res_OrderFeedback_Back}}
                                                        </a>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <script id="templates/ViewFeedback.html" type="text/ng-template">
                <ion-modal-view class="DetailModalViewScreen bgcolorheaderandfooter">
                    <ion-header-bar class="bar bar-header bar-positive">
                        <h1 class="title">{{resData.res_OrderFeedback_ViewReplies}}</h1>
                        <button class="button button-clear button-primary" ng-click="CloseViewFeedbackpopup()"><i class="fa fa-times"></i></button>
                    </ion-header-bar>
                    <ion-content scroll="hidden" class="padding">
                        <div class="col-lg-12">
                            <div class="col-lg-6" style="margin-bottom: 0px;padding: 0px;">
                                <div class="columnfulldata  margintopdata">
                                    <div class="labelname">
                                        {{resData.res_GridColumn_OrderNumber}} :
                                    </div>
                                    <div class="labelcontrol" style="margin-top: 6px;">
                                        <label>{{OrderNumber}}</label>
                                    </div>
                                    <div class="labelcontrol" style="margin-top: 6px;display:none">
                                        <label>{{labelOrderId}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <table class="table table-striped feedbacktable" ng-if="FeedbackRepliesList.length > 0">
                                <thead>
                                    <tr>
                                        <th> {{resData.res_OrderFeedback_Reply}}  </th>
                                        <th> {{resData.res_OrderFeedback_ReplyBy}} </th>
                                        <th> {{resData.res_OrderFeedback_Date}} </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="reply in FeedbackRepliesList">
                                        <td> {{reply.Comment}} </td>
                                        <td> {{reply.Name}} </td>
                                        <td>
                                            {{reply.CreatedDate | date:'dd/MM/yyyy'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </ion-content>
                    <ion-footer-bar align-title="left" class="bar-assertive">
                        <div style="float:left;width:100%">
                            <div class="buttons rightbtn" ng-click="CloseViewFeedbackpopup()">
                                <button class="button btn btn-default">{{resData.res_OrderFeedback_Close}}</button>
                            </div>
                        </div>
                    </ion-footer-bar>
                </ion-modal-view>
            </script>

            <script id="FeedbackReply.html" type="text/ng-template">
                <ion-popover-view class="ReplyPopover">
                    <ion-header-bar>
                        <h1 class="title">Reply</h1>
                    </ion-header-bar>
                    <ion-content>
                        <div class="textareadiv">
                            <textarea cols="2" rows="10" class="form-control form-white replytextarea" placeholder="Add Reply..." ng-model="FeedbackMessage.Replyfeedback"></textarea>
                        </div>
                    </ion-content>
                    <ion-footer-bar align-title="left" class="bar-assertive">
                        <div style="float:left;width:100%">

                            <div class="buttons rightbtn resetbutton" ng-click="SaveFeedbackReply()">
                                <button class="button btn btn-success">Save</button>
                            </div>

                            <div class="buttons rightbtn" ng-click="ClosePopOver()">
                                <button class="button btn btn-default">Close</button>
                            </div>
                        </div>
                    </ion-footer-bar>
                </ion-popover-view>
            </script>


            <script id="FeedbackView/OrderFeedbackView.html" type="text/ng-template">
                <ion-modal-view class="confirmationmsgmodalview eventmappingcss bgcolorheaderandfooter" style="min-height: 800px !important;width: 90% !important;top: 50px !important;">
                    <ion-header-bar class="bar bar-header bar-positive">
                        <h1 class="title">{{resData.res_OrderFeedback_Reply}}</h1>
                        <button class="button button-clear button-primary" ng-click="CloseOrderFeedbackViewCodePopup()"><i class="icons-office-52"></i></button>
                    </ion-header-bar>
                    <ion-content scroll="hidden" class="padding IonicPopupHeight" style="overflow: hidden;">
                        <div class="list">
                            <div class="customlistcontrolview" style="height: 750px;">

                                <div class="col-lg-12" style="margin-bottom: 0px;padding: 0px;">
                                    <div class="columnfulldata  margintopdata">

                                        <div ng-include="'../FeedbackView/OrderFeedbackView.html'" ng-controller="OrderFeedbackViewController" style="height: 750px;"></div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </ion-content>

                    <ion-footer-bar align-title="left" class="popupfooter">

                        <div class="popupbtnstyle">


                            <div class="popupbuttonstyle">
                                <a class="btn btn-success btn-square redclosebtn" ng-click="CloseOrderFeedbackViewCodePopup()">
                                    <i class="fa fa-times"></i> {{resData.res_OrderFeedback_Close}}
                                </a>
                            </div>
                        </div>

                    </ion-footer-bar>
                </ion-modal-view>
            </script>

        </div>
    </ion-content>
</ion-view>