

<ion-view>
    <ion-content class="main-content">
        <div class="pageview">
            <div class="header">
                <h2>{{Action}}  Financer Details</h2>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="nav-tabs2">
                        <ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}">
                            <li class="active" ng-class="{'active': ViewTab}">
                                <a ng-click="ViewForm()" class="">
                                    <tab-heading>
                                        <i class="fa fa-eye"></i>{{resData.res_FinancePartner_View}}
                                    </tab-heading>
                                </a>
                            </li>
                            <li class="" ng-class="{'active': AddTab}">
                                <a ng-click="AddForm()">
                                    <tab-heading>
                                        <i class="fa fa-plus"></i>{{resData.res_FinancePartner_Add}}
                                    </tab-heading>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" ng-class="{'active': AddTab}">
                                <div class="panel-content">
                                    <div class="row">
                                        <div class="formcontrols form-horizontal ng-pristine ng-valid" style="padding-bottom: 51px!important;">
                                            <div class="col-lg-12">
                                                <div class="col-lg-6">
                                                    <div class="columnfulldata  margintopdata">
                                                        <div class="labelname reasonlable">
                                                            <span>{{resData.res_FinancePartner_FinanceName}} :</span>

                                                        </div>
                                                        <div class="labelcontrol">
                                                            <input type="text" ng-model="FinancePartnerJSON.FinanceName" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="columnfulldata  margintopdata">
                                                        <div class="labelname reasonlable">
                                                            {{resData.res_FinancePartner_AddressLine1}} :
                                                        </div>
                                                        <div class="labelcontrol">
                                                            <input type="text" ng-model="FinancePartnerJSON.AddressLine1" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">

                                                <div class="col-lg-6">
                                                    <div class="columnfulldata  margintopdata">
                                                        <div class="labelname reasonlable">

                                                            {{resData.res_FinancePartner_AddressLine2}} :
                                                        </div>
                                                        <div class="labelcontrol">
                                                            <input type="text" ng-model="FinancePartnerJSON.AddressLine2" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="columnfulldata  margintopdata">
                                                        <div class="labelname reasonlable">

                                                            {{resData.res_FinancePartner_AddressLine3}} :
                                                        </div>
                                                        <div class="labelcontrol">
                                                            <input type="text" ng-model="FinancePartnerJSON.AddressLine3" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">

                                                <div class="col-lg-6">
                                                    <div class="columnfulldata  margintopdata">
                                                        <div class="labelname reasonlable">

                                                            {{resData.res_FinancePartner_State}} :
                                                        </div>
                                                        <div class="labelcontrol">
                                                            <select id="ddlPaymentPlanId" ng-model="FinancePartnerJSON.State" class="form-control" name="val_SelectObject" ng-change="GetAllCityDetailsByStateId(FinancePartnerJSON.State)" ng-options="obj.StateId as obj.StateName for obj in StateList">
                                                                <option value="">Select</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="columnfulldata  margintopdata">
                                                        <div class="labelname reasonlable">
                                                            {{resData.res_FinancePartner_City}} :
                                                        </div>
                                                        <div class="labelcontrol">
                                                            <select id="ddlPaymentPlanId" ng-model="FinancePartnerJSON.City" class="form-control" name="val_SelectObject" ng-options="obj.CityId as obj.CityName for obj in CityList">
                                                                <option value="">Select</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">

                                                <div class="col-lg-6">
                                                    <div class="columnfulldata  margintopdata">
                                                        <div class="labelname reasonlable">
                                                            {{resData.res_FinancePartner_Postcode}} :
                                                        </div>
                                                        <div class="labelcontrol">
                                                            <input type="text" ng-keypress="filterValue($event)" ng-model="FinancePartnerJSON.PostCode" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="columnfulldata  margintopdata">
                                                    <div class="labelname reasonlable">
                                                        <h4><b>{{resData.res_FinancePartner_ContactPersonDetails}} : </b></h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="conatinerheader headerdataconatiner">

                                                <div class="UOMContainer  rightaling">
                                                    Sr. No.
                                                </div>

                                                <div class="TotalConatiner_FinancePartnerDetail">
                                                    {{resData.res_FinancePartner_ContactType}}
                                                </div>
                                                <div class="TotalConatiner_FinancePartnerDetail">
                                                    {{resData.res_FinancePartner_ContactPersonName}}

                                                </div>
                                                <div class="TotalConatiner_FinancePartnerDetail">
                                                    {{resData.res_FinancePartner_ContactPersonNumber}}
                                                </div>
                                                <div class="removeItemicon">
                                                    {{resData.res_FinancePartner_Action}}
                                                </div>
                                            </div>
                                            <div class="conatinerbody">
                                                <div class="conatinerheader itemrowcontainer">
                                                    <div class="UOMContainer rightaling">
                                                        &nbsp;
                                                    </div>

                                                    <div class="TotalConatiner_FinancePartnerDetail">
                                                        <select id="ddlPaymentPlanId" ng-model="FinancePartnerJSON.ContactType" class="form-control" name="val_SelectObject">
                                                            <option value="">Select</option>
                                                            <option value="Email">Email</option>
                                                            <option value="Phone">Phone</option>
                                                        </select>

                                                    </div>

                                                    <div class="TotalConatiner_FinancePartnerDetail">
                                                        <input class="form-control form-white" ng-model="FinancePartnerJSON.ContactPersonName" type="text">
                                                    </div>
                                                    <div class="TotalConatiner_FinancePartnerDetail">
                                                        <input class="form-control form-white" ng-model="FinancePartnerJSON.ContactPersonNumber" type="text">
                                                    </div>
                                                    <div class="removeItemicon">
                                                        <a ng-click="AddContactPersonInfo()">
                                                            <!--<i class="fa fa-plus" aria-hidden="true"></i>--> Add
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="conatinerheader itemrowcontainer" ng-repeat="Contactinfo in ContactPersonInfo">
                                                    <div class="UOMContainer rightaling">
                                                        {{$index + 1}}
                                                    </div>
                                                    <div class="TotalConatiner_FinancePartnerDetail">
                                                        {{Contactinfo.ContactType}}
                                                    </div>

                                                    <div class="TotalConatiner_FinancePartnerDetail">
                                                        {{Contactinfo.ContactPersonName}}
                                                    </div>
                                                    <div class="TotalConatiner_FinancePartnerDetail">
                                                        {{Contactinfo.ContactPersonNumber}}
                                                    </div>

                                                    <div class="removeItemicon" style="width:12% !important">
                                                        <a ng-click="EditContactPersonInfo(Contactinfo.ContactinfoGUID)">
                                                            <!--<i class="fa fa-pencil" aria-hidden="true"></i>--> Edit
                                                        </a>&nbsp;| &nbsp;
                                                        <a ng-click="DeleteContactInfo(Contactinfo.ContactinfoGUID)">
                                                            <!--<i class="fa fa-trash" aria-hidden="true"></i>--> Delete
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="col-lg-12">
                                                <br />
                                                <br />
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="columnfulldata  margintopdata">
                                                    <div class="labelname reasonlable">
                                                        <h4><b>{{resData.res_FinancePartner_AddBankDetails}} : </b></h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="conatinerheader headerdataconatiner">

                                                <div class="UOMContainer  rightaling">
                                                    Sr. No.
                                                </div>

                                                <div class="TotalConatiner_FinancePartnerDetail">

                                                    {{resData.res_FinancePartner_AccountName}}
                                                </div>
                                                <div class="TotalConatiner_FinancePartnerDetail">

                                                    {{resData.res_FinancePartner_AccountNumber}}
                                                </div>
                                                <div class="TotalConatiner_FinancePartnerDetail">
                                                    {{resData.res_FinancePartner_AccountType}}

                                                </div>
                                                <div class="removeItemicon">
                                                    {{resData.res_FinancePartner_Action}}
                                                </div>
                                            </div>
                                            <div class="conatinerbody">
                                                <div class="conatinerheader itemrowcontainer">
                                                    <div class="UOMContainer rightaling">
                                                        &nbsp;
                                                    </div>
                                                    <div class="TotalConatiner_FinancePartnerDetail">
                                                        <input class="form-control form-white" ng-model="FinancePartnerJSON.AccountName" type="text">
                                                    </div>

                                                    <div class="TotalConatiner_FinancePartnerDetail">
                                                        <input class="form-control form-white" ng-model="FinancePartnerJSON.AccountNumber" type="text">
                                                    </div>
                                                    <div class="TotalConatiner_FinancePartnerDetail">
                                                        <select id="ddlPaymentPlanId" ng-model="FinancePartnerJSON.Accounttype" class="form-control" name="val_SelectObject">
                                                            <option value="">Select</option>
                                                            <option value="Savings">Savings</option>
                                                            <option value="Current">Current</option>
                                                        </select>
                                                    </div>
                                                    <div class="removeItemicon">
                                                        <a ng-click="AddTransporterAccountDetails()">
                                                            <!--<i class="fa fa-plus" aria-hidden="true"></i>--> Add
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="conatinerheader itemrowcontainer" ng-repeat="AccountDetails in TransporterAccountDetails">
                                                    <div class="UOMContainer rightaling">
                                                        {{$index + 1}}
                                                    </div>
                                                    <div class="TotalConatiner_FinancePartnerDetail">
                                                        {{AccountDetails.AccountName}}
                                                    </div>

                                                    <div class="TotalConatiner_FinancePartnerDetail">
                                                        {{AccountDetails.AccountNumber}}
                                                    </div>
                                                    <div class="TotalConatiner_FinancePartnerDetail">
                                                        {{AccountDetails.AccountType}}
                                                    </div>

                                                    <div class="removeItemicon" style="width:12% !important">
                                                        <a ng-click="EditAccountdetail(AccountDetails.AccountdetailGUID)">
                                                            <!--<i class="fa fa-pencil" aria-hidden="true"></i>--> Edit
                                                        </a>&nbsp;| &nbsp;
                                                        <a ng-click="DeleteAccountDetails(AccountDetails.AccountdetailGUID)">
                                                            <!--<i class="fa fa-trash" aria-hidden="true"></i>--> Delete
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-lg-12">
                                                <br />
                                                <br />
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="columnfulldata  margintopdata">
                                                    <div class="labelname reasonlable">
                                                        <h4><b>{{resData.res_FinancePartner_AddFinanceDetail}} : </b></h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="conatinerheader headerdataconatiner">

                                                <div class="UOMContainer  rightaling">
                                                    Sr. No.
                                                </div>

                                                <div class="TotalConatiner_FinancePartnerTransporterMappingDetail">

                                                    {{resData.res_FinancePartner_Transporter}}
                                                </div>
                                                <div class="TotalConatiner_FinancePartnerTransporterMappingDetail">

                                                    {{resData.res_FinancePartner_Amount}} ({{resData.res_CurrencyCode}})
                                                </div>
                                                <div class="TotalConatiner_FinancePartnerTransporterMappingDetail">
                                                    {{resData.res_FinancePartner_From}}
                                                </div>

                                                <div class="TotalConatiner_FinancePartnerTransporterMappingDetail">
                                                    {{resData.res_FinancePartner_To}}
                                                </div>
                                                <div class="removeItemicon">
                                                    {{resData.res_FinancePartner_Action}}
                                                </div>
                                            </div>
                                            <div class="conatinerbody">
                                                <div class="conatinerheader itemrowcontainer">
                                                    <div class="UOMContainer rightaling">
                                                        &nbsp;
                                                    </div>
                                                    <div class="TotalConatiner_FinancePartnerTransporterMappingDetail">
                                                        <select id="ddlTransporterId" ng-model="FinancePartnerJSON.Transporter" class="form-control" name="val_SelectObject" ng-options="obj.TransporterId as obj.TransporterName for obj in TransporterList">
                                                            <option value="">Select</option>
                                                        </select>
                                                    </div>

                                                    <div class="TotalConatiner_FinancePartnerTransporterMappingDetail">
                                                        <input class="form-control form-white" ng-model="FinancePartnerJSON.Amount" type="text">

                                                    </div>
                                                    <div class="TotalConatiner_FinancePartnerTransporterMappingDetail">
                                                        <input type="text" ng-model="FinancePartnerJSON.FromDate" name="datepicker" class="form-control form-white date-picker" style="width:89% !important;">
                                                        <i class="icon-calendar" style="float: right;right: 0;left: auto;"></i>
                                                    </div>

                                                    <div class="TotalConatiner_FinancePartnerTransporterMappingDetail">
                                                        <input type="text" ng-model='FinancePartnerJSON.ToDate' name="datepicker" class="form-control form-white date-picker" style="width:89% !important;">
                                                        <i class="icon-calendar" style="float: right;right: 0;left: auto;"></i>
                                                    </div>
                                                    <div class="removeItemicon">
                                                        <a ng-click="AddTransporterFinanceMappingtDetails()">
                                                            Add
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="conatinerheader itemrowcontainer" ng-repeat="FinanceTransporter in TransporterFinanceMappingInfo">
                                                    <div class="UOMContainer rightaling">
                                                        {{$index + 1}}
                                                    </div>
                                                    <div class="TotalConatiner_FinancePartnerTransporterMappingDetail">
                                                        {{FinanceTransporter.Transporter}}
                                                    </div>

                                                    <div class="TotalConatiner_FinancePartnerTransporterMappingDetail">
                                                        ({{resData.res_CurrencyCode}}) {{FinanceTransporter.Amount  | currency: CurrencyFormatCode}} 
                                                    </div>
                                                    <div class="TotalConatiner_FinancePartnerTransporterMappingDetail">
                                                        {{FinanceTransporter.FromDate}}
                                                    </div>
                                                    <div class="TotalConatiner_FinancePartnerTransporterMappingDetail">
                                                        {{FinanceTransporter.ToDate}}
                                                    </div>

                                                    <div class="removeItemicon" style="width:12% !important">
                                                        <a ng-click="EditTransporterFinanceMappingdetail(FinanceTransporter.TransporterFinanceGUID)">
                                                            Edit
                                                        </a>&nbsp;| &nbsp;
                                                        <a ng-click="DeleteTransporterFinanceMappingDetails(FinanceTransporter.TransporterFinanceGUID)">
                                                            Delete
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="ActionButtons">
                                                <div class="clearbtn">
                                                    <button type="button" ng-click="ClearControls()" class="btn btn-default">Clear</button>
                                                </div>
                                                <div class="successbtn">
                                                    <button type="button" ng-click="Save()" class="btn btn-success">Save</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane active" ng-class="{'active': ViewTab}">
                                <div class="panel-content">
                                    <div class="row">
                                        <div class="formcontrols form-horizontal ng-pristine ng-valid">
                                            <div class="col-md-12">
                                                <div id="SalesAdminApprovalGrid" class="SalesAdminApproval_Grid" dx-data-grid="SalesAdminApprovalGrid" dx-item-alias="SalesAdminApprovalData">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>