<ion-view>
    <ion-content class="main-content">
        <div class="pageview" style="margin-bottom: 50px;">
            <div class="header">
                <h2>Item View</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="nav-tabs2">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <div class="panel-content">
                                    <div class="row">
                                        <div class="formcontrols form-horizontal itemdetailsview ng-pristine ng-valid">
                                            <div class="fullwidth">
                                                <div class="col-md-6">
                                                    <div class="form-group">

                                                        <label class="col-sm-3 control-label">Item Code :</label>
                                                        <div class="col-sm-9">
                                                            {{ItemDetailInfo.ItemCode}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fullwidth">
                                                <div class="col-md-6">

                                                    <div class="form-group">

                                                        <label class="col-sm-3 control-label">Item Name :</label>
                                                        <div class="col-sm-9">
                                                            {{ItemDetailInfo.ItemName}}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="fullwidth">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Primary UOM :</label>
                                                        <div class="col-sm-9">
                                                            {{ItemDetailInfo.UOM}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fullwidth">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Price :</label>
                                                        <div class="col-sm-9">
                                                            {{ItemDetailInfo.Amount | currency: CurrencyFormatCode}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="fullwidth">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Status :</label>
                                                        <div class="col-sm-9">
                                                            {{ItemDetailInfo.ItemStatus}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="ItemDetailView">
                                                <div class="fullwidth">
                                                    <div class="col-md-12">

                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th class="srno">Sr. NO</th>
                                                                    <th>UOM</th>
                                                                    <th>Conversion Factor</th>
                                                                    <th>Related UOM</th>
                                                                    <th style="display:none;">Delete</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="ItemUOM in ItemDetailInfo.ItemUOMList" ng-if="ItemUOM.IsActive === '1' || ItemUOM.IsActive === true">
                                                                    <td class="srno"> {{$index +1}} </td>
                                                                    <td>
                                                                        <select class="form-control" style="margin:0px !important" ng-model="ItemUOM.UOM" ng-disabled="true"
                                                                                ng-options="obj.LookUpId as obj.Name for obj in LookupList">
                                                                            <option value="">Select UOM</option>
                                                                        </select>
                                                                    </td>
                                                                    <td> <input ng-model="ItemUOM.ConversionFactor" class="conversionfector" ng-disabled="true" ng-change="validatefield('Name','txt')" />  </td>
                                                                    <td>
                                                                        <select class="form-control" style="margin:0px !important" ng-model="ItemUOM.RelatedUOM" ng-disabled="true"
                                                                                ng-options="obj.LookUpId as obj.Name for obj in LookupList">
                                                                            <option value="">Select Related UOM</option>
                                                                        </select>
                                                                    </td>
                                                                    <td style="width:75px;display:none;">
                                                                        <a class="btn btn-default" ng-click="RemoveNewUOM(ItemUOM.UnitOfMeasureId,ItemUOM.UnitOfMeasureIdGUID)"><i class="icons-office-52"></i></a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="5">
                                                                        <a class="newrowlinkbutton" ng-click="AddNewUOM()" style="display:none;">
                                                                            Add New UOM
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>

                                                    <div class="col-md-12">
                                                        <!--<div class="ActionButtons">
                                                            <div class="successbtn">
                                                                <button type="button" ng-click="UpdateItemUOMConversionFector()" class="btn btn-success">Update</button>
                                                            </div>
                                                        </div>-->
                                                        <div class="footerbuttons" style="float:right !important; display:none;">

                                                            <a class="buttonstext drop-shadow greencolorbtntext" ng-click="UpdateStatusOfItem()" style="background-color: #fff;">
                                                                <i class="fa fa-check fa-icon" aria-hidden="true"></i> Update
                                                            </a>

                                                        </div>

                                                        <div class="footerbuttons" style="float:right !important;">

                                                            <a class="buttonstext drop-shadow redcolorbtntext" ng-click="GoBackToPage()" style="background-color: #fff;">
                                                                <i class="fa fa-arrow-circle-left fa-icon" aria-hidden="true"></i>Back
                                                            </a>

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>