<div id="RightPanelFirstView" class="portalView col-md-4 col-sm-4" ng-class="{'mobileview' : MobileView === false}">
    <div id="RightPanelView" class="CreateInquiryFirstView">
        <div class="CreateInquiryLeftView ScrollbarUI">
            <div class="rowsection topbtnrow portal_viewscreen">
                <div class="leftalingsection">
                    <a class="createinquirybtn_solidbg card_Section circlebg_icon">
                        <i class="fa fa-refresh green"></i>
                    </a>
                </div>

            </div>
            <div class="EnquiryCountSection TwoSection mobile_viewscreen">
                <div class="RightAling">
                    <span class="textbold_600">Inquiry Date:</span> <span class="textcolor_green text_italic">23/10/2018</span>
                </div>

                <div class="LeftAling">
                    <span class="textbold_600">Total Inquiries:</span> <span class="textcolor_green text_italic">002</span>
                </div>
            </div>
            <div class="EnquiryBasic_Info mobile_viewscreen">
                <div class="EnquiryShipTo_Info TwoSection">
                    <div class="RightAling">
                        <span class="textbold_600">Ship-To-Code:</span> <span class="">1111057</span>
                    </div>

                    <div class="LeftAling">
                        <span class="textbold_600">Requested Date:</span> <span class="">25/10/2018</span>
                    </div>
                </div>
                <div class="EnquiryReceivingCapacityCheck_Info">
                    <div class="section_width_100 space_bottom">
                        <span class="textbold_600">Receiving Capcity Check</span>
                    </div>
                    <div class="section_width_100">
                        <div class="aling_float_left">
                            Pallet Space:
                        </div>
                        <div class="section_width_50 space_left_right">
                            <div class="control_view">
                                <div class="progress progress-striped active progress-bar-large">
                                    <div class="progress-bar-warning progressive_color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:71.60%">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="aling_float_left">
                            <span class="textbold_600">114</span> available
                        </div>
                    </div>
                </div>
            </div>
            <div class="Enquiry_list mobileviewenquirydetails mobile_viewscreen" style="height:auto !important">
                <div class="Enquiry_data">
                    <div class="Enquiry_Info_top_Row">

                        <div class="Enquiry_SequenceNo">
                            #01
                        </div>
                        <div class="Enquiry_Total_Count_Price">
                            <div class="section_width_100 padding_bottom_10">
                                Products = <span class="textbold_900">06</span>
                            </div>
                            <div class="section_width_100">
                                Total = <span class="textcolor_green">$</span> <span class="textbold_600">00,00,00,05,08,762.20</span>
                            </div>
                        </div>
                        <div class="Enquiry_Checked">
                            <a class="bg_green">
                                <i class="fa fa-check white"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rowsection">
                <div class="icon_heading">
                    <i class="fa fa-calendar-check-o green" aria-hidden="true"></i> <span class="textbold_900 space_icon_text">Select Date:</span>
                </div>
                <div class="card_Section info_card">
                    <span class="UseFull_Space">
                        <span class="textbold_600">
                            Requested Date :
                        </span>
                        <span class="textcolor_green">26/10/2018</span>
                    </span>
                    <span class="UseFull_Space">
                        <span class="">
                            Proposed Date :
                        </span>
                        <span class="">26/10/2018</span>
                    </span>
                    <div class="card_selection_control">
                        <a class="createinquirybtn_solidbg card_Section circlebg_icon">
                            <i class="fa fa-calendar green" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="rowsection">
                <div class="icon_heading">
                    <i class="fa fa-map-marker green" aria-hidden="true"></i> <span class="textbold_900 space_icon_text">Select Ship To:</span>
                </div>
                <div class="card_Section info_card">
                    <span class="UseFull_Space">
                        <span class="textbold_600">
                            Ship-To-Code:
                        </span>
                        <span class="">1111057</span>
                    </span>
                    <span class="UseFull_Space">
                        <span class="">
                            Receiving Capacity:
                        </span>
                        <span class=""><span class="textcolor_green">40</span> Pallets/Day</span>
                    </span>
                    <div class="card_selection_control">
                        <a class="createinquirybtn_solidbg card_Section circlebg_icon">
                            <i>&nbsp;</i>
                        </a>
                    </div>
                </div>
                <div class="card_Section info_card">
                    <span class="UseFull_Space">
                        <span class="textbold_600">
                            Ship-To-Code:
                        </span>
                        <span class="">1111058</span>
                    </span>
                    <span class="UseFull_Space">
                        <span class="">
                            Receiving Capacity:
                        </span>
                        <span class=""><span class="textcolor_green">20</span> Pallets/Day</span>
                    </span>
                    <div class="card_selection_control">
                        <a class="createinquirybtn_solidbg card_Section circlebg_icon">
                            <i>&nbsp;</i>
                        </a>
                    </div>
                </div>
                <div class="card_Section info_card">
                    <span class="UseFull_Space">
                        <span class="textbold_600">
                            Ship-To-Code:
                        </span>
                        <span class="">1111026</span>
                    </span>
                    <span class="UseFull_Space">
                        <span class="">
                            Receiving Capacity:
                        </span>
                        <span class=""><span class="textcolor_green">25</span> Pallets/Day</span>
                    </span>
                    <div class="card_selection_control">
                        <a class="createinquirybtn_solidbg card_Section circlebg_icon">
                            <i class="fa fa-check green"></i>
                        </a>
                    </div>
                </div>
                <div class="card_Section info_card">
                    <span class="UseFull_Space">
                        <span class="textbold_600">
                            Ship-To-Code:
                        </span>
                        <span class="">1111062</span>
                    </span>
                    <span class="UseFull_Space">
                        <span class="">
                            Receiving Capacity:
                        </span>
                        <span class=""><span class="textcolor_green">10</span> Pallets/Day</span>
                    </span>
                    <div class="card_selection_control">
                        <a class="createinquirybtn_solidbg card_Section circlebg_icon">
                            <i>&nbsp;</i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="rowsection">
                <div class="icon_heading">
                    <i class="fa fa-truck green" aria-hidden="true"></i> <span class="textbold_900 space_icon_text">Select Transit Vehicle:</span>
                </div>
                <div class="card_Section info_card">
                    <span class="UseFull_Space">
                        <span class="textbold_600">
                            Truck Capacity:
                        </span>
                        <span class="">4 Tons</span>
                    </span>
                    <span class="UseFull_Space">
                        <span class="">
                            Pallet Space:
                        </span>
                        <span class="">10</span>
                    </span>
                    <div class="card_selection_control">
                        <a class="createinquirybtn_solidbg card_Section circlebg_icon">
                            <i class="fa fa-check green"></i>
                        </a>
                    </div>
                </div>
                <div class="card_Section info_card">
                    <span class="UseFull_Space">
                        <span class="textbold_600">
                            Truck Capacity:
                        </span>
                        <span class="">8 Tons</span>
                    </span>
                    <span class="UseFull_Space">
                        <span class="">
                            Pallet Space:
                        </span>
                        <span class="">10</span>
                    </span>
                    <div class="card_selection_control">
                        <a class="createinquirybtn_solidbg card_Section circlebg_icon">
                            <i>&nbsp;</i>
                        </a>
                    </div>
                </div>
                <div class="card_Section info_card">
                    <span class="UseFull_Space">
                        <span class="textbold_600">
                            Truck Capacity:
                        </span>
                        <span class="">16 Tons</span>
                    </span>
                    <span class="UseFull_Space">
                        <span class="">
                            Pallet Space:
                        </span>
                        <span class="">10</span>
                    </span>
                    <div class="card_selection_control">
                        <a class="createinquirybtn_solidbg card_Section circlebg_icon">
                            <i>&nbsp;</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="FooterRightPanel">
        <div class="leftcontrol">
            <a class="createinquirybtn_solidbg card_Section circlebg_icon">
                <i class="fa fa-ban red"></i>
            </a>
        </div>
        <div class="rightcontrol portalbtnView">
            <a class="createinquirybtn_solidbg card_Section" ng-click="ShowAddItemSection()">
                <i class="fa fa-plus green"></i> <span class="icon_text textcolor_green">Add Items</span>
            </a>
        </div>
        <div class="rightcontrol mobilebtnView">
            <a class="createinquirybtn_solidbg card_Section" ng-click="LoadProductCatalog()">
                <i class="fa fa-plus green"></i> <span class="icon_text textcolor_green">Add Items</span>
            </a>
        </div>
    </div>
</div>
<div id="LeftPanelFirstView" class="portalView col-md-8 col-sm-8" ng-class="{'mobileview' : MobileView === true}">
    <div class="RightSideView">
        <div class="EnquiryCountSection TwoSection">
            <div class="RightAling">
                <span class="textbold_600">Total Inquiries:</span> <span class="textcolor_green text_italic">002</span>
            </div>

            <div class="LeftAling">
                <span class="textbold_600">Inquiry Date:</span> <span class="textcolor_green text_italic">23/10/2018</span>
            </div>
        </div>

        <div class="EnquiryBasic_Info">
            <div class="EnquiryShipTo_Info TwoSection">
                <div class="RightAling">
                    <span class="textbold_600">Ship-To-Code:</span> <span class="">1111057</span>
                </div>

                <div class="LeftAling">
                    <span class="textbold_600">Requested Date:</span> <span class="">25/10/2018</span>
                </div>
            </div>
            <div class="EnquiryReceivingCapacityCheck_Info">
                <div class="section_width_100 space_bottom">
                    <span class="textbold_600">Receiving Capcity Check</span>
                </div>
                <div class="section_width_100">
                    <div class="aling_float_left">
                        Pallet Space:
                    </div>
                    <div class="section_width_50 space_left_right">
                        <div class="control_view">
                            <div class="progress progress-striped active progress-bar-large">
                                <div class="progress-bar-warning progressive_color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:71.60%">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aling_float_left">
                        <span class="textbold_600">114</span> available
                    </div>
                </div>
            </div>
        </div>
        <div class="Enquiry_list ScrollbarUI">
            <div class="Enquiry_data" style="border-bottom:0px">
                <div class="Enquiry_Info_top_Row">

                    <div class="Enquiry_SequenceNo">
                        #03
                    </div>
                    <div class="Enquiry_Total_Count_Price">
                        <div class="section_width_100 padding_bottom_10">
                            Products = <span class="textbold_900">To be added</span>
                        </div>
                        <div class="section_width_100">
                            Total = <span class="textcolor_green">$</span> <span class="textbold_600">0</span>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>