<ion-view>
	<ion-content class="main-content">
		<style>
			.treeSelection {
				background-color: green;
				color: #fff;
			}

			.highlighted {
				background: yellow;
				position: relative;
				top: -3px;
			}

			.dropdown-multiselect {
				height: auto;
			}

			.btn-group > .btn:first-child {
				padding-left: 20px;
			}

			.angucomplete-dropdown {
				border-bottom: 1px solid #d5d5d5 !important;
			}

			.itemrowcontainer:nth-child(even) {
				margin-top: 15px;
			}
		</style>
		<div class="pageview">
			<div class="row">
				<div class="col-md-12">
					<div class="nav-tabs2">
						<ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}">
							<li class="active" ng-class="{'active': ViewTab}">
								<a ng-click="ViewForm()" class="">
									<tab-heading>
										<i class="fa fa-eye"></i>{{resData.res_SettingMaster_View}}
									</tab-heading>
								</a>
							</li>
							<li class="" ng-class="{'active': AddTab}">
								<a ng-click="AddForm()">
									<tab-heading>
										<i ng-show="!EditMode" class="fa fa-plus"></i><span ng-show="!EditMode">{{resData.res_SettingMaster_Add}}</span><i ng-show="EditMode" class="fa fa-pencil"></i><span ng-show="EditMode">{{resData.res_TransportVehicleUI_Edit}}</span>
									</tab-heading>
								</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane" ng-class="{'active': AddTab}">
								<div class="panel-content">
									<div class="row">
										<div class="formcontrols form-horizontal ng-pristine ng-valid" style="padding-bottom: 51px!important;">

											<div class="col-lg-12">
												<div>
													<div class="col-lg-3">
														<div class="columnfulldata  margintopdata">
															<div class="labelname reasonlable">
																Page : <span style="color:red">*</span>
															</div>
															<div class="labelcontrol">
																<div class="itemcontrols" style="width: 650px;">
																	<div class="padded-row" style="position: relative;width: 100%;">
																		<div id="ItemListAutoCompleteBox" input-class="form-control form-control-small">
																			<div class="angucomplete-holder angucomplete-dropdown-visible" ng-class="{'angucomplete-dropdown-visible': showDropdown}" style="">
																				<input id="ItemListAutoCompleteBox_value" placeholder="{{resData.res_GridConfiguration_SelectPage}}" ng-class="{'angucomplete-input-not-empty': notEmpty}" ng-model="SearchControl.InputPageItem" ng-disabled="IsControlDisbaled" type="text" ng-focus="onFocusHandler()" class="form-control form-control-small ng-valid-maxlength ng-dirty ng-valid-parse ng-touched ng-not-empty" ng-blur="hideResults($event)" arrow-selector="" autocapitalize="off" autocorrect="off" autocomplete="off" ng-change="PageInputSelecteChangeEvent(SearchControl.InputPageItem)" style="border: 1px solid #bec1c3;border-radius: 20px;">
																				<div id="ItemListAutoCompleteBox_dropdown" ng-if="showPagebox" class="angucomplete-dropdown" style="height: auto !important;top:40px !important">
																					<div class="angucomplete-searching" ng-if="searchingPage" ng-bind="textPageSearching" style="">{{resData.res_GridConfiguration_SelectObject}}</div>
																					<div class="angucomplete-searching" ng-if="foundResult">{{resData.res_CreateInquiryPage_Noresultsfound}}</div>
																					<div class="angucomplete-row" ng-repeat="result in PagesList | filter:SearchControl.InputPageItem" ng-disabled="IsControlDisbaled" key-navigation="" ng-click="LoadGridColumns(result.PageId,result.PageName)" ng-mouseenter="hoverRow($index)" ng-class="{'autocompleteboxselectedrow':$index == selectedRow}" style="">
																						<div class="angucomplete-title" style="">
																							{{result.PageName}}
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>

																		<a class="clearautosearchbox" ng-if="SearchControl.InputPageItem.length==0 || SearchControl.InputPageItem === undefined" ng-click="ShowPageSearchList()">
																			<i class="fa fa-caret-down" style="width: 17px;font-size: 14px;" ng-disabled="true"></i>
																		</a>
																		<a class="clearautosearchbox" ng-if="SearchControl.InputPageItem.length>0 && !IsControlDisbaled" ng-click="ClearPageInputSearchbox()">
																			<i class="fa fa-times" style="width: 17px;font-size: 14px;" ng-disabled="true"></i>
																		</a>
																	</div>

																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="col-lg-12">
												<div>
													<div class="col-lg-3">
														<div class="columnfulldata  margintopdata">
															<div class="labelname reasonlable">
																Role : <span style="color:red">*</span>
															</div>
															<div class="labelcontrol">
																<div class="itemcontrols" style="width: 650px;">
																	<div class="padded-row" style="position: relative;width:100%;">
																		<div id="ItemListAutoCompleteBox" input-class="form-control form-control-small">
																			<div class="angucomplete-holder angucomplete-dropdown-visible" ng-class="{'angucomplete-dropdown-visible': showDropdown}" style="">
																				<input id="ItemListAutoCompleteBox_value" placeholder="{{resData.res_GridConfiguration_SelectRole}}" ng-class="{'angucomplete-input-not-empty': notEmpty}" ng-disabled="IsControlDisbaled" ng-model="SearchControl.InputRoleItem" type="text" ng-focus="onFocusHandler()" class="form-control form-control-small ng-valid-maxlength ng-dirty ng-valid-parse ng-touched ng-not-empty" ng-blur="hideResults($event)" arrow-selector="" autocapitalize="off" autocorrect="off" autocomplete="off" ng-change="RoleInputSelecteChangeEvent(SearchControl.InputRoleItem)" style="border: 1px solid #bec1c3;border-radius: 20px;">
																				<div id="ItemListAutoCompleteBox_dropdown" ng-if="showRolebox" class="angucomplete-dropdown" style="height: auto !important;top:40px !important">
																					<div class="angucomplete-searching" ng-if="searchingRole" ng-bind="textRoleSearching" style="">{{resData.res_GridConfiguration_SelectObject}}</div>
																					<div class="angucomplete-searching" ng-if="foundResult">{{resData.res_CreateInquiryPage_Noresultsfound}}</div>
																					<div class="angucomplete-row" ng-repeat="result in RoleMasterList | filter:SearchControl.InputRoleItem" ng-disabled="IsControlDisbaled" key-navigation="" ng-click="LoadPagesByRole(result.RoleName,result.RoleMasterId)" ng-mouseenter="hoverRow($index)" ng-class="{'autocompleteboxselectedrow':$index == selectedRow}" style="">
																						<div class="angucomplete-title" style="">
																							{{result.RoleName}}
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>

																		<a class="clearautosearchbox" ng-if="SearchControl.InputRoleItem.length==0 || SearchControl.InputRoleItem === undefined" ng-click="ShowRoleSearchList()">
																			<i class="fa fa-caret-down" style="width: 17px;font-size: 14px;"></i>
																		</a>
																		<a class="clearautosearchbox" ng-if="SearchControl.InputRoleItem.length>0 && !IsControlDisbaled" ng-disabled="IsControlDisbaled" ng-click="ClearRoleInputSearchbox()">
																			<i class="fa fa-times" style="width: 17px;font-size: 14px;"></i>
																		</a>
																	</div>

																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-12" style="margin-top: -8px;">
												<div>
													<div class="col-lg-3">
														<div class="columnfulldata  margintopdata">
															<div class="labelname reasonlable">
																User :
															</div>
															<div class="labelcontrol">
																<div class="itemcontrols" style="width: 1400px !important;">
																	<div class="padded-row" style="position: relative;width:100%;">
																		<div class="grMasterPagecontrol grcontrolwidth" style="width: 46%;">
																			<div class="form-group MultiSelectControl" style="width: 100%;margin-left:5px ;margin-top:10px" ng-model="SearchControl.UserSelected" ng-disabled="IsControlDisbaled">
																				<div ng-dropdown-multiselect="" options="UserList" selected-model="UserSelectedList" checkboxes="false" extra-settings="MultiSelectUserDropdownSetting" events="ObjectUserEvent"></div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<!--<div class="columnfulldata  margintopdata">


															<div class="section_width_100 margin_bottom_10">
																<span class="section_width_100 padding_left_15 margin_top_bottom_5 aling_float_left">
																	User
																</span>

																<div class="grMasterPagecontrol grcontrolwidth" style="width: 100%;">
																	<div class="form-group MultiSelectControl" style="width: 100%;margin-left:5px ;margin-top:10px" ng-model="SearchControl.UserSelected" ng-disabled="IsControlDisbaled">
																		<div ng-dropdown-multiselect="" options="UserList" selected-model="UserSelectedList" checkboxes="false" extra-settings="MultiSelectUserDropdownSetting" events="ObjectUserEvent"></div>
																	</div>
																</div>

															</div>
														</div>-->
													</div>


												</div>
											</div>
											<div>
												<div class="col-lg-12">
													<div class="columnfulldata  margintopdata">
														<div class="labelname reasonlable">
															<b>User Configuration</b>
														</div>
													</div>
												</div>
												<!--<div class="row">

													<div class="col-md-2">
														Sr no
													</div>
													<div class="col-md-4">
														User Setting
													</div>
													<div class="col-md-4">
														Value
													</div>
												</div>
												<div ng-repeat="item in MasterDataList">
													<div class="row" style="margin-top:0.5%!important;margin-bottom:0.5%!important">
														<div class="col-md-2">
															#{{$index + 1}}
														</div>
														<div class="col-md-4">
															<div>{{item.SettingName}}</div>
														</div>
														<div class="col-md-4">

															<input class="form-white" ng-click="SetSelectedRow(item)" type="checkbox" ng-model="item.InputValue">
														</div>
													</div>
												</div>-->

												<div class="col-lg-12">
													<div class="col-lg-6" style="float:none;margin:auto">
														<table class="table tablegrid table-hover">
															<thead>
																<tr>
																	<th style="    width: 668px !important;">Setting Name</th>
																	<th style="text-align: center; width: 58px !important;">Value</th>


																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="item in MasterDataList">
																	<td>{{item.Description}}</td>
																	<td><input class="form-white" ng-click="SetSelectedRow(item)" type="checkbox" ng-model="item.InputValue"></td>


																</tr>
															</tbody>
														</table>
													</div>
												</div>



											</div>
											<div class="ActionButtons">
												<div class="clearbtn">
													<button type="button" ng-click="ClearControls()" class="btn btn-default">Clear</button>
												</div>
												<div class="successbtn">
													<button type="button" ng-click="Save()" class="btn btn-success">Save</button>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

							<div class="tab-pane active" ng-class="{'active': ViewTab}">
								<div class="panel-content">
									<div class="row">
										<div class="formcontrols form-horizontal ng-pristine ng-valid">
											<div class="col-md-12">
												<div id="FinanceDashboardGrid" class="SalesAdminApproval_Grid SalesAdminApprovalConfigurationGrid" dx-data-grid="FinanceDashboardGrid" dx-item-alias="FinanceDashboardData">



												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</ion-content>

	<script id="WarningMessage.html" type="text/ng-template">
		<ion-modal-view hide-back-button="false" class="confirmationmsgmodalview bgcolorheaderandfooter">

			<ion-header-bar class="bar bar-header bar-positive popupheadercolor" style="display: block;">
				<h1 class="title">{{resData.res_AddCompany_Warning}}</h1>
				<button class="button button-clear button-primary" ng-click="CloseDeleteConfirmation()"><i class="fa fa-times" style="color:#000 !important;"></i></button>
			</ion-header-bar>
			<ion-content scroll="false" class="popioncontainer">
				<div class="messagebody" style="margin-left: 15px;font-weight: 500;">
					{{resData.res_AddCompany_DeleteWarning}}
				</div>
			</ion-content>
			<ion-footer-bar class="popupfooter">

				<div class="popupbtnstyle">
					<div class="popupbuttonstyle">
						<a class="btn btn-success btn-square" ng-click="DeletePageWiseConfiguration()">
							{{resData.res_AddCompany_DeleteYes}}
						</a>
						<a class="btn btn-success btn-square" ng-click="CloseDeleteConfirmation()">
							{{resData.res_AddCompany_DeleteNo}}
						</a>
					</div>


				</div>
			</ion-footer-bar>
		</ion-modal-view>
	</script>

</ion-view>