<ion-view>
    <ion-content class="main-content">
        <div class="pageview" style="padding: 20px 30px 0;overflow-y:hidden">
            <div class="row">
                <div class="col-md-12 pagecontainerdiv" style="margin-top:0px">
                    <div class="gridheaderactionbuttons">

                        <div style="float:left;margin-bottom: 24px;">
                            <div class="footerbuttons footerbtnrightborder" style="margin:0px">
                                <a class="buttonstext drop-shadow greencolorbtntext toprefreshbuttons" ng-click="RefreshDataGrid()">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </div>
                            <div class="footerbuttons">
                                <a class="buttonstext drop-shadow greencolorbtntext" ng-click="ExportToExcelSalesAdminApprovalData()">
                                    <i class="fa fa-file-excel-o fa-icon"></i> {{resData.res_OMInquiryPage_ExportToExcel}}
                                </a>
                            </div>
                        </div>


                    </div>
                    <div id="portalview" class="PortalView">
                        <div class="panel drop-shadow" style="background: #f5f5f5;float: left;width: 100%;">
                            <div class="panel-content" style="padding:0px">
                                <div class="dx-viewport">
                                    <div class="demo-container">
                                        <div id="SalesAdminApprovalGrid" class="SalesAdminApproval_Grid SalesAdminApprovalConfigurationGrid"  style="height: 75vh;" dx-data-grid="SalesAdminApprovalGrid" dx-item-alias="SalesAdminApprovalData">

                                            <!--<div data-options="dxTemplate:{ name:'CheckBoxTemplate' }">
                                                <input type="checkbox" />
                                            </div>-->

                                            <div data-options="dxTemplate:{ name:'CheckBoxHeaderTemplate' }">
                                                <input type="checkbox" />
                                            </div>

                                            <div data-options="dxTemplate:{ name:'BilledTemplate' }" style="width:50px" >
                                                <a class="greenbgfont approvebtn" ng-if="SalesAdminApprovalData.data.TotalTripCost !='0.00' && SalesAdminApprovalData.data.TotalTripRevenue !='0.00' &&   SalesAdminApprovalData.data.IsDeliveredALL =='1' && SalesAdminApprovalData.data.IsBilled =='0'">   {{resData.res_CustomerPaymentDetail_Bill}}  </a>

                                                <a class="greenbgfont approvebtn" ng-if=" SalesAdminApprovalData.data.TotalTripCost !='0.00' && SalesAdminApprovalData.data.TotalTripRevenue !='0.00' && SalesAdminApprovalData.data.IsDeliveredALL =='1' &&SalesAdminApprovalData.data.IsBilled =='1'">  {{resData.res_CustomerPaymentDetail_Billed}}  </a>


                                            </div>
                                            <div data-options="dxTemplate:{ name:'PaidTemplate' }" style="width:50px">
                                                <a class="greenbgfont approvebtn" ng-if="SalesAdminApprovalData.data.TotalTripCost !='0.00' && SalesAdminApprovalData.data.TotalTripRevenue !='0.00' && SalesAdminApprovalData.data.IsDeliveredALL =='1' && SalesAdminApprovalData.data.IsBilled =='1' && SalesAdminApprovalData.data.IsPaid =='0'"> {{resData.res_CustomerPaymentDetail_Pay}} </a>

                                                <a class="greenbgfont approvebtn" ng-if="SalesAdminApprovalData.data.TotalTripCost !='0.00' && SalesAdminApprovalData.data.TotalTripRevenue !='0.00' && SalesAdminApprovalData.data.IsDeliveredALL =='1'  && SalesAdminApprovalData.data.IsBilled =='1' && SalesAdminApprovalData.data.IsPaid =='1'"> {{resData.res_CustomerPaymentDetail_Paid}} </a>

                                            </div>

                                            <div data-options="dxTemplate:{ name:'TripCostTemplate' }" style="width:100px">
                                                <span>{{resData.res_CurrencyCode}} {{SalesAdminApprovalData.data.TotalTripCost | currency: CurrencyFormatCode}}</span>

                                            </div>

                                            <div data-options="dxTemplate:{ name:'TripRevenueTemplate' }" style="width:100px">
                                                <span>{{resData.res_CurrencyCode}} {{SalesAdminApprovalData.data.TotalTripRevenue | currency: CurrencyFormatCode}}</span>

                                            </div>

                                            <div id="EnquiryProductInfoId" class="EnquiryProductInfoClass" data-options="dxTemplate: {name: 'GridDetail'}" style="float: left;">


                                                <div class="EnquiryDetailsAccordion">


                                                    <div ng-if="OrderViewInfoSection" ng-include="'CustomerPaymentDetail/OrderListView.html'"></div>

                                                    <div ng-if="BillViewInfoSection" ng-include="'CustomerPaymentDetail/BillView.html'"></div>

                                                    <div ng-if="PaidViewInfoSection" ng-include="'CustomerPaymentDetail/PaidView.html'"></div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-include="'ReasonCodePopupView.html'" ng-controller="ReasonCodeViewController"></div>

                </div>
            </div>
        </div>
        <script id="templates/SelectBankAccount.html" type="text/ng-template">
            <ion-modal-view class="confirmationmsgmodalview bgcolorheaderandfooter" style="min-height:325px !important">
                <ion-header-bar class="bar bar-header bar-positive">
                    <h1 class="title">Select Bank Account.</h1>
                    <button class="button button-clear button-primary" ng-click="CloseSelectBankAccountPopupPopup()">
                        <i class="icons-office-52"></i>
                    </button>
                </ion-header-bar>
                <ion-content scroll="hidden" class="padding IonicPopupHeight">
                    <div class="list">

                        <div class="customlistcontrolview">
                            <div class="col-lg-12" style="margin-bottom: 0px;padding: 0px;">
                                <div class="columnfulldata  margintopdata">
                                    <div class="labelname reasonlable">
                                        Select Bank Account  :
                                    </div>
                                    <div class="labelcontrol">
                                        <select class="form-control"
                                                ng-model="SelectedBankAccount.TransporterAccountDetailId" ng-options="obj.TransporterAccountDetailId as obj.AccountDisplay for obj in bindAllBankAccountList" ng-change="OnChangeBankAccountDropDown()">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="columnfulldata  margintopdata">
                                    <div class="labelname reasonlable">
                                        Bank Name  :
                                    </div>
                                    <div class="labelname reasonlable">
                                        <label>{{SelectedBankAccount.BankName}}</label>
                                    </div>
                                </div>
                                <div class="columnfulldata  margintopdata">
                                    <div class="labelname reasonlable">
                                        Bank Account  :
                                    </div>
                                    <div class="labelname reasonlable">
                                        <label>{{SelectedBankAccount.AccountNumber}}</label>
                                    </div>
                                </div>
                                <div class="columnfulldata  margintopdata">
                                    <div class="labelname reasonlable">
                                        Account Type  :
                                    </div>
                                    <div class="labelname reasonlable">

                                        <label>{{SelectedBankAccount.AccountType}}</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </ion-content>

                <ion-footer-bar align-title="left" class="popupfooter">

                    <div class="popupbtnstyle">

                        <div class="popupbuttonstyle">
                            <a class="btn btn-success btn-square" ng-click="SaveSelectBankAccountPopupPopup()">
                                <i class="fa fa-check"></i> Save
                            </a>
                        </div>
                        <div class="popupbuttonstyle">
                            <a class="btn btn-success btn-square redclosebtn" ng-click="CloseSelectBankAccountPopupPopup()">
                                <i class="fa fa-times"></i> Close
                            </a>
                        </div>
                    </div>

                </ion-footer-bar>
            </ion-modal-view>
        </script>
        <script id="templates/AddNotesForObject.html" type="text/ng-template">
            <ion-modal-view class="confirmationmsgmodalview bgcolorheaderandfooter" style="min-height:280px !important">
                <ion-header-bar class="bar bar-header bar-positive">
                    <h1 class="title">{{resData.res_ViewInquiryForCustomer_Note}}</h1>
                    <button class="button button-clear button-primary" ng-click="CloseAddNotesModalPopup()"><i class="fa fa-times"></i></button>
                </ion-header-bar>
                <ion-content scroll="hidden" class="padding IonicPopupHeight">
                    <div class="list">
                        <div class="customlistcontrolview">

                            <div class="col-lg-12" style="margin-bottom: 0px;padding: 0px;">
                                <div class="columnfulldata  margintopdata">

                                    <div class="labelname" style="width:70px">
                                        {{resData.res_ViewInquiryForCustomer_Note}} :
                                    </div>
                                    <div class="labelcontrol viewNote" style="width: 85%;text-align:justify">
                                        {{NoteVariable.NoteText}}
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </ion-content>

                <ion-footer-bar align-title="left" class="popupfooter">

                    <div class="popupbtnstyle">

                        <div class="popupbuttonstyle">
                            <a class="btn btn-success btn-square redclosebtn" ng-click="CloseAddNotesModalPopup()">
                                <i class="fa fa-times"></i>  Close
                            </a>
                        </div>
                    </div>

                </ion-footer-bar>
            </ion-modal-view>
        </script>
        <script id="templates/ConfirmationMessageModalPopup.html" type="text/ng-template">
            <ion-modal-view class="confirmationmsgmodalview bgcolorheaderandfooter" style="min-height:200px !important">
                <ion-header-bar class="bar bar-header bar-positive">
                    <h1 class="title">{{resData.res_SalesAdminApproval_RemoveProductHeading}}</h1>
                    <button class="button button-clear button-primary" ng-click="CloseConfirmationMessageModalPopup()"><i class="fa fa-times"></i></button>
                </ion-header-bar>
                <ion-content scroll="hidden" class="padding IonicPopupHeight">
                    <div class="list">
                        <div class="customlistcontrolview">
                            {{resData.res_SalesAdminApproval_RemoveProductMessage}}
                        </div>

                    </div>
                </ion-content>

                <ion-footer-bar align-title="left" class="popupfooter">
                    <div class="popupbtnstyle">

                        <div class="popupbuttonstyle">
                            <a class="btn btn-success btn-square" ng-click="RemoveEnquiryProduct()">
                                <i class="fa fa-check"></i> {{resData.res_SalesAdminApproval_Ok}}
                            </a>
                        </div>
                        <div class="popupbuttonstyle">
                            <a class="btn btn-success btn-square redclosebtn" ng-click="CloseConfirmationMessageModalPopup()">
                                <i class="fa fa-times"></i> {{resData.res_SalesAdminApproval_Close}}
                            </a>
                        </div>
                    </div>
                </ion-footer-bar>
            </ion-modal-view>
        </script>
        <script id="AddTruck.html" type="text/ng-template">
            <ion-modal-view hide-back-button="false" class="confirmationmsgmodalview bgcolorheaderandfooter" style="min-height:200px !important">

                <ion-header-bar class="bar bar-header bar-positive popupheadercolor" style="display: block;">
                    <h1 class="title">{{AddTruckHeaderMessage}}</h1>
                    <button class="button button-clear button-primary" ng-click="CloseAddTruckControl()"><i class="fa fa-times"></i></button>
                </ion-header-bar>
                <ion-content scroll="false" class="popioncontainer">
                    <div class="messagebody" style="margin-left: 15px;font-weight: 500;">
                        {{AddTruckBodymessage}}
                    </div>
                </ion-content>
                <ion-footer-bar class="popupfooter">

                    <div class="popupbtnstyle">

                        <div class="popupbuttonstyle">

                            <a class="btn btn-success btn-square" ng-click="CloseAddFinalize()">
                                <i class="fa fa-check"></i>  {{resData.res_SalesAdminApproval_Ok}}
                            </a>
                        </div>

                    </div>
                </ion-footer-bar>


            </ion-modal-view>

        </script>
    </ion-content>
</ion-view>